@charset "UTF-8";
/*--------------------
	Mixin
--------------------*/
.wysiwyg_content img { max-width:100% !important; height:auto; clear:both; display:block;}
.centerCont {
	width:960px;
	margin:0 auto;
}
.hentry > ul > li.ternid_8:before { content: url("../images/common/list_mark_o.png");}
.hentry > ul > li.ternid_17:before { content: url("../images/common/list_mark_p.png");}
.hentry > ul > li.ternid_12:before { content: url("../images/common/list_mark_m.png");}
.hentry > ul > li.ternid_23:before { content: url("../images/common/list_mark_g.png");}
.hentry > ul > li.ternid_15:before { content: url("../images/common/list_mark_b.png");}
.sideMenu ,
nav.widget {
 width:240px;
 float:left;
}
a{
    color:#003894;
    text-decoration:underline;
    }
    a:hover{
        text-decoration:none;
    }
.hentry > ul > li ul {
	margin:25px 0 35px;
}
.hentry > ul > li > a {
  color: #003894;
}
.hentry > ul > li ul li {
  position: relative;
  padding-left: 15px;
  margin-bottom: 15px;
  font-size: 14px;
  font-size: 0.875rem;
  line-height: 1em;
}
.hentry > ul > li ul li:before {
  content: "";
  display: block;
  width: 5px;
  height: 5px;
  background: #a8a8a8;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  margin: auto;
}
.hentry > ul > li ul li a {
  color: #555;
}



.column1 .table3 ,
.column2 .table3 {
  width: 100%;
}


.wysiwyg_content { line-height:1.9em; margin-bottom:40px;}

.main_thumb {
	width:100%;
	margin-bottom:35px;
}
.main_thumb img {
	width:100%;
	height:auto;
}
.main_thumb img { max-width:100%;}
.office .cf table th ,
.office .cf table td { vertical-align:top; }
.office .cf .fll { width:400px; }
.office .gmap .acf-map ,
.office .gmap .marker {
	width:250px;
	height:176px;
}
.office { margin-bottom:35px;}
.office div p { float:none !important;}
.policy h4:not(.tit) {
  background: #fff;
  font-weight: bold;
	font-size:15px;
	padding:0.5em 0 0;
	margin-bottom:25px;
}
.company_greeting {
	width:100%;
	margin-bottom:50px;
}
.company_greeting figure {
	width:190px;
	float:right;
	margin:0;
}
.company_greeting .wysiwyg_content {
	width:450px;
	line-height:1.7em;
	float:left;
}
.table1 ,
.table2 {
	margin-bottom:50px;
}
.wysiwyg_content div:after {
  content: "";
  clear: both;
  display: block;
}

.wysiwyg_content ol ,
.wysiwyg_content ul {
  margin-bottom: 1em;
}

.wysiwyg_content ul li {
  font-size: 14px;
  font-size: 0.875rem;
  position: relative;
	margin: 0.5em 0 0.5em 2em;
	list-style-type: disc;
}

.wysiwyg_content ol li {
  font-size: 14px;
  font-size: 0.875rem;
  position: relative;
	margin: 0.5em 0 0.5em 2em;
	list-style-type: decimal;
}

.wysiwyg_content figure {
	max-width:100%;
	display:inline-block;
	text-align:center;
}
.wysiwyg_content figure.alignnone {
	margin:1em 0;
}
.wysiwyg_content figure.alignleft {
	margin:1em 2em 1em 0;
}
.wysiwyg_content figure.alignright {
	margin:1em 0 1em 2em;
}
img.centered {
	display: block;
	margin-left: auto;
	margin-right: auto;
	}

img.alignright {
	padding: 4px;
	margin: 0 0 2px 7px;
	display: inline;
	}

img.alignleft {
	padding: 4px;
	margin: 0 7px 2px 0;
	display: inline;
	}

.alignright {
	float: right;
	}

.alignleft {
	float: left;
}
.wysiwyg_content figure img {
	max-width:100%;
}
figcaption {
	font-size:0.85rem;
	color:#888;
	text-align:left;
}
.pagination {
	margin:50px 0;
	text-align:center;
}
.pagination .nav-links {
	display:inline-block;
	background:#ededed;
	padding:0.3em;
  font-family: "FOT-筑紫ゴシック Pr5 D";
}
.pagination span.page-numbers.dots {
	background:#fff;
	display:inline-block;
	padding:0 0.3em;
}
.pagination span.page-numbers.current ,
.pagination .nav-links a {
	text-decoration:none;
	background:#fff;
	display:inline-block;
	padding:0 0.5em;
}
.pagination span.page-numbers.current ,
.pagination .nav-links a:hover {
	color:#fff;
	background:#003894;
}
.pagination .nav-links a.prev.page-numbers ,
.pagination .nav-links a.next.page-numbers {
	background:transparent;
}
.pagination .nav-links a.prev.page-numbers:before {
  content: url("../images/common/page_left.png");
}
.pagination .nav-links a.next.page-numbers:before {
  content: url("../images/common/page_right.png");
}
.pagination .nav-links a.prev.page-numbers:hover ,
.pagination .nav-links a.next.page-numbers:hover {
	opacity:0.6;
}

.pagination h2 { display:none;}
.pagination a { color:#003894;}
.works_detail {
	margin-top:-0.5em;
	margin-bottom:1.5em;
}
.works_detail span {
	font-size: 14px;
	margin-right: 1em;
}

.column2 .inq .website {
	margin:-15px 0 35px 0;
}
.post-type-archive-business h4 {
	background:transparent !important;
	border-bottom:3px solid;
  padding: 10px 20px 10px 1.5em;
}

.post-type-archive-business h4.ternid_8 { border-color:#ea9b58;}
.post-type-archive-business h4.ternid_17 { border-color:#7ec249;}
.post-type-archive-business h4.ternid_12 { border-color:#d889b6;}
.post-type-archive-business h4.ternid_23 { border-color:#8a98d5;}
.post-type-archive-business h4.ternid_15 { border-color:#65aac7;}

.post-type-archive-business .business_inner {
  width: 930px;
  margin: 0 auto;
}

.post-type-archive-business .business_inner h4:before {
  display: none;
}
.post-type-archive-business .business_inner .fll {
  width: 450px;
}
.post-type-archive-business .business_inner .fll h4 {
  background: #fff;
  color: #555;
  font-weight: normal;
  font-size: 18px;
  font-size: 1.1rem;
  line-height: 1em;
  margin-bottom: 10px;
}
.post-type-archive-business .business_inner .flr {
  width: 420px;
}
.post-type-archive-business .business_inner .flr h4 {
  background: #fff;
  color: #555;
  font-weight: normal;
  font-size: 18px;
  font-size: 1.1rem;
  line-height: 1em;
  padding: 10px 20px;
  margin-bottom: 10px;
}
.post-type-archive-business .business_inner ul {
  margin-bottom: 20px;
}
.post-type-archive-business .business_inner li {
  margin: 0 0 3px 30px;
}
.post-type-archive-business .business_inner li:before {
  content: url("../images/common/img_rsaquo.png");
  margin-right: 14px;
}
.post-type-archive-business .business_inner li a {
  color: #555;
  text-decoration: none;
  line-height: 1em;
}
.post-type-archive-business .business_inner li a:hover {
	text-decoration:underline;
}


.post-type-archive-proposal nav {
	margin-bottom:40px;
}
.post-type-archive-proposal nav li:first-child ,
.post-type-archive-proposal nav li:nth-child(3n+1)  { margin-left:0;}
.post-type-archive-proposal nav li {
	width:280px;
	padding:8px;
	background:#ededed;
	display:inline-block;
	margin-left:55px;
	margin-bottom:20px;
	vertical-align:top;
}
.post-type-archive-proposal nav .thumb {
	width:264px;
	height:125px;
	overflow:hidden;
	background-position: center center;
	background-repeat: no-repeat;
	background-size: cover;
	-moz-background-size:cover;
	margin-bottom:1.5em;
}
.post-type-archive-proposal nav h4 {
	text-align:center;
	color:#003894;
	font-size:20px;
	font-size:1.2rem;
	letter-spacing:0.03em;
	margin: 0;
	padding: 0;
}
.post-type-archive-proposal nav h4:before {
	display: none;
}
.post-type-archive-proposal nav li div {
	font-size:0.9rem;
	line-height:1.8em;
}
.post-type-archive-proposal nav .detaBtn {
	text-align:center;
	margin:1em 0;
}
.post-type-archive-proposal nav .detaBtn img {
	width:0.5em;
	margin-right:1em;
}
.post-type-archive-proposal nav .detaBtn a {
	background:#fff;
	color:#6d6d6d;
	font-size:0.85rem;
	text-decoration:none;
	letter-spacing:0.1em;
	padding: 0.5em 4.8em;
  border-radius: 15px;
}
.post-thumbnail img {
	width:100%;
	height:auto;
}
.post-thumbnail {
	margin-bottom:20px;
}


figure[id^="attachment_"] {
	margin: 0;
	margin-bottom: 20px;
}
figure[id^="attachment_"]:nth-child(odd) {
	margin-left: 10px;
}

/*--------------------
	スマホ用
--------------------*/
@media screen and (max-width: 768px) {
.wysiwyg_content {
	width:90%;
	margin-left: auto;
	margin-right:auto;
}
.centerCont {
	width:100%;
	margin:0 auto;
}
nav.widget {
 width:90%;
 margin:0 auto;
 float:none;
}
.achList {
	width:90%;
	margin:0 auto 1em;
}
.achList .btn_deta2 p {
	width:100%;
	height:90px;
}


.office .cf p img { width:1.5em;}
.office .cf .fll { margin-bottom:1.5em; }
.office .cf .acf-map { margin-bottom:1em; }

.office .cf .fll ,
.office .gmap .acf-map ,
.office .gmap .marker {
	width:100%;
}
.company_greeting {
	width:90%;
	margin-left:auto;
	margin-right:auto;
}
.company_greeting figure {
	width:30%;
	text-align:center;
}
.company_greeting figure img { width:90%;}
.company_greeting .wysiwyg_content {
	width:65%;
}

.panf li a img.thumb {
	width:60%;
	height:auto;
}
/*.proposal_page_830 figure {
	float:none;
	width:90%;
	margin:0 auto 1em;
}
.proposal_page_830 .wysiwyg_content img {
	width:100%;
	margin:0 auto 1em;
}
*/


.sideMenu ,
nav.widget {
 width:100%;
 float:none;
}

  .post-type-archive-business {
    /*background: #ededed;
    width: 100%;
    margin-top: 0;
    padding: 4.6875% 0 6.25%;
  }
  .post-type-archive-business h1 {
    width: 90%;
    margin: 0 auto;
    margin-bottom: 4.6875%;*/
  }
  .post-type-archive-business .business_inner {
    width: 90%;
    margin: 0 auto;
  }
  .post-type-archive-business .business_inner .fll {
    width: 100%;
    float: none;
  }
  .post-type-archive-business .business_inner .fll h4 {
    background: #fff;
    color: #555;
    font-weight: normal;
    font-size: 16px;
    font-size: 1rem;
    line-height: 1em;
    padding: 10px 20px;
    margin-bottom: 10px;
  }
  .post-type-archive-business .business_inner .flr {
    width: 100%;
    float: none;
  }
  .post-type-archive-business .business_inner .flr h4 {
    background: #fff;
    color: #555;
    font-weight: normal;
    font-size: 16px;
    font-size: 1rem;
    line-height: 1em;
    padding: 10px 20px;
    margin-bottom: 10px;
  }
  .post-type-archive-business .business_inner ul {
    margin-bottom: 20px;
  }
  .post-type-archive-business .business_inner li {
    margin: 0 0 3px 30px;
  }
  .post-type-archive-business .business_inner li:before {
    content: url("../images/common/img_rsaquo.png");
    margin-right: 14px;
  }
  .post-type-archive-business .business_inner li a {
    color: #555;
    text-decoration: none;
    line-height: 1em;
  }

.post-type-archive-proposal nav li {
	width:100%;
	padding:5%;
	display:block;
	margin-left:0;
	margin-bottom:1em;
}
.post-type-archive-proposal nav .thumb {
	width:100%;
}

.wysiwyg_content figure {
	display:block;
	width:90%;
	margin-left:auto;
	margin-right:auto;
}
.wysiwyg_content figure {
	width:100% !important;
	max-width:100%;
	display:inline-block;
	text-align:center;
}
.wysiwyg_content figure.alignnone {
	margin:0;
}
.wysiwyg_content figure.alignleft {
	margin:0;
}
.wysiwyg_content figure.alignright {
	margin:0;
}
img.centered {
	display: block;
	margin-left: auto;
	margin-right: auto;
	}

img.alignright {
	padding: 0;
	margin: 0;
	display: inline;
	}

img.alignleft {
	padding: 0;
	margin: 0;
	display: inline;
	}


	.two-column-container {
		max-width:90%;
		margin:0 auto;
	}

	figure[id^="attachment_"] {
		margin: auto;
		margin-bottom: 20px;
		width: 90%!important;
	}
	figure[id^="attachment_"] img {
		width: 100%!important;
		height: auto!important;
	}
	figure[id^="attachment_"]:nth-child(odd) {
		margin-left: auto;
	}
	.alignleft {
		float: none;
	}

}
