/*--------------------
	Mixin
--------------------*/
.content {
  width: 960px;
  margin: 0 auto;
  margin-top: 50px;
}
.content p {
  line-height: 1.7em;
}

.content h3 {
  margin-top: 35px;
}
.content h3:before {
  content: url("../images/common/inq_mark.png");
  background: transparent;
}
.content .contact {
  margin-top: 10px;
}
.content .contact .bgform {
  background: #f1f1f1;
  padding: 40px 130px 25px;
  margin-bottom: 60px;
}
.content .contact dl dt {
  float: left;
  text-align: left;
  width: 200px;
  height: 40px;
  font-weight: normal;
  vertical-align: middle;
  font-size: 18px;
  font-size: 1.125rem;
  padding: 11px 0;
}
.content .contact dl dt span {
  color: #de6161;
}
.content .contact dl dt.classification {
  padding: 2px 0;
  height: auto;
}
.content .contact dl dd {
  margin-bottom: 20px;
}
.content .contact dl dd input[type="text"] {
  font-size: 16px;
  width: 500px;
  height: 40px;
  border: 1px solid #dddddd;
  padding: 0 0 0 10px;
}
.content .contact dl dd label {
  font-size: 18px;
}
.content .contact dl dd label:last-child {
  margin-left: 40px;
}
.content .contact dl dd label input {
  vertical-align: top;
  margin-right: 15px;
}
.content .contact dl dd textarea {
  width: 500px;
  height: 240px;
  font-size: 16px;
	padding:0.5em;
}
.content .buttonarea input ,
.content .contact button {
  color: #fff;
  line-height: 1em;
  width: 260px;
  display: block;
  font-size: 19px;
  font-size: 1.1875rem;
  padding: 20px 0;
	margin:0 auto;
	border:none;
}
.content .contact button[type="reset"] {
  background: #9e9e9e;
}
.content .buttonarea input[type="submit"] ,
.content .contact button[type="submit"] {
  background: #003894;
/*  margin-left: 40px;*/
}
.content .buttonarea input:before ,
.content .contact button:before {
  content: "\0203A";
  vertical-align: text-top;
  margin-right: 15px;
}
.content .contact .buttonarea {
  width: 560px;
  margin: 0 auto;
}

.inq {
  margin-top: 35px;
}
.inq h4 {
  font-weight: normal;
}
.inq .hgc {
  float: left;
  margin: 20px 0 0 45px;
}

.reqtxt span {
  color: #de6161;
}

@media screen and (max-width: 768px) {
  .page-title {
    width: 100%;
    margin-bottom: 3%;
  }

  .content {
    width: 90%;
    margin: 0 auto;
    margin-top: 10%;
  }
  .content p {
    line-height: 1.7em;
  }
  .content h3:before {
    content: url("../images/common/inq_mark.png");
  }
  .content .contact {
    margin-top: 10px;
  }
  .content .contact .bgform {
    background: #f1f1f1;
    padding: 5% 5% 5%;
    margin-bottom: 10%;
  }
  .content .contact dl dt {
    float: none;
    text-align: left;
    width: 100%;
    height: auto;
    font-weight: normal;
    vertical-align: middle;
    font-size: 18px;
    font-size: 1.125rem;
    padding: 2% 0 1%;
  }
  .content .contact dl dt span {
    color: #de6161;
  }
  .content .contact dl dt.classification {
    padding: 2% 0 1%;
    height: auto;
  }
  .content .contact dl dd {
    margin-bottom: 2%;
  }
  .content .contact dl dd input[type="text"] {
    font-size: 16px;
    width: 100%;
    height: 40px;
    border: 1px solid #dddddd;
    padding: 0 0 0 10px;
  }
  .content .contact dl dd label {
    font-size: 18px;
    display: block;
  }
  .content .contact dl dd label:last-child {
    margin-left: 0;
    margin-top: 1%;
  }
  .content .contact dl dd label input {
    vertical-align: top;
    margin-right: 15px;
  }
  .content .contact dl dd textarea {
    width: 100%;
    height: 240px;
  }
  .content .contact button {
    color: #fff;
    line-height: 1em;
    width: 47%;
    display: block;
    font-size: 14px;
    font-size: 0.875rem;
    padding: 3.5% 0;
    float: left;
  }
  .content .contact button[type="reset"] {
    background: #9e9e9e;
  }
  .content .contact button[type="submit"] {
    background: #003894;
    margin-left: 0;
    float: right;
  }
  .content .contact button:before {
    content: "\0203A";
    vertical-align: text-top;
    margin-right: 15px;
  }
  .content .contact .buttonarea {
    width: 100%;
    margin: 0 auto;
  }

  .inq {
    width: 100%;
    margin-top: 5%;
  }
  .inq h4 {
    font-weight: normal;
  }
  .inq .tel p {
    margin-bottom: 3%;
    font-size: 30px;
    font-size: 1.875rem;
  }
  .inq .hgc {
    float: none;
    margin: 0;
  }
  .inq .hgc p {
    font-size: 30px;
    font-size: 1.875rem;
  }
}
