/*--------------------
	HGC top
--------------------*/

.hgc_top {
    background: url("../images/hgc/bg01.jpg") no-repeat center top;
    margin: 0 auto;
    padding: 20px 0 0;
}
.hgc_tittle {
    width: 960px;
    margin: 0 auto;
}
.hgc_left {
    float: left;
    width: 550px;
}
.hgc_left h2 {
    background: none;
    padding: 0;
    margin: 0 0 230px;
    text-align: left;
    border:0;
}
.hgc_left h3 {
    background: none;
    color: #000000;
    font-weight: bold;
    font-size: 28px;
    line-height: 48px;
    
}
.hgc_left h3 span {
    color: #01aab5;
    font-size: 12px;
    line-height: 14px;
    display: block;
}
.hgc_left h3:before {
    content: none;
    margin-right: 0px;
}
.hgc_link {
    width: 100%;
    background: url("../images/hgc/bg02.jpg") no-repeat center bottom;
    margin: 0 auto;
}
.hgc_middle {
    width: 960px;
    margin: 0 auto;
}
.hgc_link li {
    background: #fff;
    border: 1px solid #c3c3c3;
    width: 464px;
    padding: 20px;
    margin-left: 30px;
    float: left;
}
.hgc_link li:first-child {
    margin-left: 0;
}
.hgc_link li span {
    display: block;
}
.hgc_link li h5 {
    color: #003894;
    font-size: 20px;
    line-height: 25px;
    font-weight: normal;
    margin-bottom: 10px;
}
.hgc_link li p {
    font-size: 15px;
    line-height: 26px;
    margin-bottom: 12px;
}
.hgc_link li span.images {
    float: left;
    width: 157px;
}
.hgc_link li span.txt {
    width: 250px;
    float: right;
}
.hgc_link li span.txt a {
    background: #e6e6e5;
    display: block;
    text-align: center;
    color: #555;
    text-decoration: none;
    font-size: 14px;
    font-size: 0.875rem;
    line-height: 1em;
    padding: 10px 0;
    width: 240px;
    margin: 0 auto;
    border-radius: 15px;
}
.hgc_link li span.txt a img {
    width: 6px;
    margin-right: 10px;
    vertical-align: baseline;
}
.hgc_works {
    margin: 45px auto 0;
    width: 100%;
}
.hgc_works .works_ttl {
    width: 960px;
    margin: 0 auto 20px;
}
.hgc_works .works_ttl h4 {
    float: left;
    font-weight: normal;
    line-height: 28px;
    font-size: 32px;
}
.hgc_works .works_ttl h4:before {
    display: none;
}
.hgc_works .works_ttl h4 span {
    display: block;
    color: #003894;
    font-size: 14px;
}
.hgc_works .works_ttl p {
    float: right;
    font-size: 18px;
    line-height: 28px;
    text-align: right;
}
.works_box {
    width: 990px;
    padding-bottom: 30px;
    margin: 0 auto;
}
.works_box li {
    padding: 10px;
    margin: 0 15px 26px;
    width: 216px;
}
.works_box li:first-child {
    margin-left: 15px;
}
.works_box li p {
    margin: 0;
    font-size: 14px;
}
.works_box li a {
    text-decoration: none;
    color: #000;
}
.hgc_specialist {
    width: 980px;
    padding: 20px 0;
    margin: 0 auto;
}
.hgc_specialist h1 {
    margin-left: 15px;
}
.hgc_specialist h4 {
    font-weight: normal;
    line-height: 28px;
    font-size: 32px;
    margin-bottom: 20px;
}
.hgc_specialist h4:before {
    display: none;
}
.hgc_specialist h4 span {
    display: block;
    color: #003894;
    font-size: 14px;
}
.hgc_specialist li {
    border: 1px solid #c3c3c3;
    background: #fff;
    width: 142px;
    padding: 10px;
    font-size: 14px;
    float: left;
    line-height: 19px;
    margin: 0 10px 20px;
}
.hgc_specialist li a {
	color:#003894;
    text-decoration: none;
}
.hgc_specialist li span.ttl {
    font-size: 12px;
    display: block;
}
.hgc_specialist li span.color {
    color: #02a7bd;
    font-size: 12px;
    display: block;
}

.hgc_specialist li span.name{
    background: url("../images/hgc/icon.jpg") no-repeat;
    background-position: 100% 45%;
    display:block;
    }

.business {
    background: #ededed;
    width: 100%;
    padding: 30px 0 40px;
}
.business h1 {
    width: 960px;
    margin: 0 auto;
    margin-bottom: 30px;
}
.business .business_inner {
    width: 960px;
    margin: 0 auto;
}
.business .business_inner .fll {
    width: 450px;
}
.business .business_inner .fll h4 {
    background: #fff;
    color: #555;
    font-weight: normal;
    font-size: 16px;
    font-size: 1rem;
    line-height: 1em;
    padding: 10px 20px;
    margin-bottom: 10px;
}
.business .business_inner .flr {
    width: 420px;
}
.business .business_inner h4 {
	background:transparent !important;
	border-bottom:3px solid;
	padding-left:1.5em !important;
}
.business .business_inner h4.ternid_24 { border-color:#ea9b58;}
.business .business_inner h4.ternid_25 { border-color:#d889b6;}
.business .business_inner h4.ternid_26 { border-color:#65aac7;}
.business .business_inner h4.ternid_27 { border-color:#7ec249;}
.business .business_inner h4.ternid_28 { border-color:#8a98d5;}
.business .business_inner .flr h4 {
    background: #fff;
    color: #555;
    font-weight: normal;
    font-size: 16px;
    font-size: 1rem;
    line-height: 1em;
    padding: 10px 20px;
    margin-bottom: 10px;
}

.business .business_inner ul {
    margin-bottom: 20px;
}
.business .business_inner li {
    margin: 0 0 3px 30px;
}
.business .business_inner li:before {
    content: url("../images/common/img_rsaquo.png");
    margin-right: 14px;
}
.business .business_inner li a {
    color: #555;
    text-decoration: none;
    line-height: 1em;
}
.business .business_inner li a:hover {
	text-decoration:underline;
}
.hgc_area {
    width: 960px;
    margin: 0 auto;
}
.hgc_area ul {
    width: 678px;
}
.hgc_area li {
    float: left;
    margin-left: 2px;
    text-align: center;
    position: relative;
}
.hgc_area li .onbg {
    display: none;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 1;
}
.hgc_area li h4 {
    font-size: 28px;
    font-size: 1.75rem;
    font-weight: normal;
    line-height: 1em;
    letter-spacing: 2px;
    position: relative;
    z-index: 10;
    padding-top: 120px;
}
.hgc_area li h4 span {
    font-size: 16px;
    font-size: 1rem;
}
.hgc_area li p {
    position: relative;
    z-index: 10;
    padding: 0 55px;
    margin-bottom: 25px;
    line-height: 1.8em;
}
.hgc_area li .detaBtn {
    position: relative;
    z-index: 10;
    border: 2px solid #fff;
    border-radius: 15px;
    width: 240px;
    margin: 0 auto;
    line-height: 1em;
    padding: 10px;
}
.hgc_area li .detaBtn img {
    width: 6px;
    margin-right: 10px;
}
.hgc_area li:first-child {
    margin-left: 0;
}
.hgc_area li a {
    display: block;
    color: #fff;
    text-decoration: none;
    height: 280px;
}
.hgc_area li.abList1 {
    background: url("../images/top/img_hgc01.jpg") no-repeat left top;
    width: 396px;
}
.hgc_area li.abList1 h4 {
    padding-top: 50px;
}
.hgc_area li.abList2 {
    background: url("../images/top/img_hgc02.jpg") no-repeat left top;
    width: 280px;
}
.hgc_area .blog {
    width: 280px;
    margin-left: 2px;
    float: left;
    background: #ededec;
    height: 280px;
}
.hgc_area .blog h4 {
    text-align: center;
    font-size: 22px;
    font-size: 1.375rem;
    border-bottom: 2px solid #00a6bf;
    width: 228px;
    margin: 0 auto;
    font-weight: normal;
    padding: 20px 0 10px 0;
}
.hgc_area .blog dl {
    width: 228px;
    margin: 0 auto;
    margin-top: 15px;
}
.hgc_area .blog dl dd {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    margin-bottom: 10px;
}
.hgc_area .blog dl dd:before {
    content: url("../images/common/arrow_blue.png");
    margin-right: 10px;
}
.hgc_area .blog a {
    display: block;
    background: #00a6bf;
    color: #fff;
    text-decoration: none;
    width: 228px;
    margin: 0 auto;
    margin-top: 15px;
    border-radius: 15px;
    text-align: center;
    padding: 5px 0;
}
.hgc_area .blog a img {
    width: 6px;
    margin-right: 10px;
}

/*--------------------
 sp
--------------------*/
@media screen and (max-width: 768px) {
img.flr {
    display: none;
}
.hgc_top h2 img {
    width: 50%;
    margin-left: 0px;
}
.hgc_left h2 {
    margin-bottom: 15px;
}
.hgc_left h3 span {
    color: #07a8bc;
    margin-bottom: 1.5%;
}
.hgc_left h3 {
    color: #000;
    margin: 0 0 20px 0 !important;
    font-size: 22px;
    line-height: 28px;
    background: rgba(255,255,255,0.8);
    padding: 3% 3% 3% 4%;
}
.hgc_left h3 br {
    display: none;
}
.hgc_tittle {
    width: 90%;
}
.hgc_left {
    float: none;
    width: 100%;
    margin: 0 auto;
}
.hgc_middle {
    width: 100%;
}
.hgc_link li {
    width: 90%;
    padding: 20px;
    float: left;
    margin: 0 0 20px 0px;
}
.hgc_link li:first-child {
    margin-left: 0;
}
.hgc_link li span {
    display: block;
}
.hgc_link li h5 {
    color: #003894;
    font-size: 20px;
    line-height: 25px;
    font-weight: normal;
    margin-bottom: 10px;
}
.hgc_link li p {
    font-size: 15px;
    line-height: 26px;
    margin-bottom: 12px;
}
.hgc_link li span.images {
    width: 100%;
    margin-bottom: 10px;
}
.hgc_link li span.txt {
    width: 100%;
}
.hgc_link {
    width: 100%;
    background: url("../images/hgc/bg02.jpg") no-repeat center bottom;
    margin: 0 auto;
}
.hgc_middle {
    width: 90%;
    margin: 0 auto;
}
.hgc_link li {
    width: 100%;
    padding: 20px;
}
.hgc_works .works_ttl {
    width: 90%;
}
.hgc_works .works_ttl h4 {
    float: none;
}
.hgc_works .works_ttl p {
    float: none;
    text-align: left;
}
.hgc_works .works_ttl p br {
    display: none;
}
.works_box {
    width: 100%;
    padding-bottom: 30px;
    margin: 0 auto;
}
.works_box li {
    padding: 10px;
    margin: 0 0 15px 15px;
    width: 44%;
}
.works_box li:first-child {
    margin-left: 15px;
}
.works_box li p {
    margin: 0;
    font-size: 12px;
    line-height: 18px;
}
.hgc_specialist {
    width: 100%;
    margin: 0 auto;
}
.hgc_specialist li {
    width: 44%;
    margin: 0 0 20px 15px;
    float: left;
}
.business {
    background: #ededed;
    width: 100%;
    margin-top: 0;
    padding: 4.6875% 0 6.25%;
}
.business h1 {
    width: 90%;
    margin: 0 auto;
    margin-bottom: 4.6875%;
}
.business .business_inner {
    width: 90%;
    margin: 0 auto;
}
.business .business_inner .fll {
    width: 100%;
    float: none;
}
.business .business_inner .fll h4 {
    background: #fff;
    color: #555;
    font-weight: normal;
    font-size: 16px;
    font-size: 1rem;
    line-height: 1em;
    padding: 10px 20px;
    margin-bottom: 10px;
}
.business .business_inner .flr {
    width: 100%;
    float: none;
}
.business .business_inner .flr h4 {
    background: #fff;
    color: #555;
    font-weight: normal;
    font-size: 16px;
    font-size: 1rem;
    line-height: 1em;
    padding: 10px 20px;
    margin-bottom: 10px;
}
.business .business_inner ul {
    margin-bottom: 20px;
}
.business .business_inner li {
    margin: 0 0 3px 30px;
}
.business .business_inner li:before {
    content: url("../images/common/img_rsaquo.png");
    margin-right: 14px;
}
.business .business_inner li a {
    color: #555;
    text-decoration: none;
    line-height: 1em;
}
#footer {
    margin-top: 0;
}
}
/*--------------------
	HGC page
--------------------*/


.hgc_page {
    background: url("../images/hgc/bg03.jpg") no-repeat center top;
    margin: 0 auto;
    padding: 20px 0 0;
}
.hgc_left02 {
    width: 550px;
}
.hgc_left02 h2 {
    background: none;
    padding: 0;
    margin: 0 0 105px;
    text-align: left;
    border:0;
}
.hgc_left02 h3 {
    background: none;
    color: #01aab5;
    font-weight: bold;
    font-size: 28px;
    line-height: 48px;
    letter-spacing: 4px;
    margin: 0 30px 5px;
    padding:0;
}
.hgc_left02 h3 span {
    color: #01aab5;
    font-size: 12px;
    line-height: 14px;
    display: block;
}
.hgc_left02 h3:before {
    content: none;
    margin-right: 0px;
}
.hgc_left02 p {
    margin-left: 30px;
}
.sideMenu {
    background: #ededed;
    width: 194px;
    padding: 25px 16px;
    margin-left: 36px;
}
.sideMenu h3 {
    color: #00a6bf;
    font-size: 14px;
    margin-bottom: 10px;
		padding-left:0;
}
.sideMenu h3:before {
    content: none;
}
.sideMenu li {
    background: #fff;
}
.sideMenu li a {
    display: block;
    padding: 10px 0;
    text-decoration: none;
}
.column2 .sideMenu li:before {
    content: url("../images/hgc/icon02.jpg") !important;
    display: block;
    width: 0px;
    height: 15px;
    position: absolute;
    background: none !important;
    top: 3px;
    bottom: 0;
    left: 9px;
    margin: auto;
}
.column2 .sideMenu li {
    position: relative;
    padding-left: 25px;
    margin-bottom: 15px;
    font-size: 14px;
    font-size: 0.875rem;
    line-height: 1em;
}
.hgc_right {
    width: 380px;
    float: right;
}
.hgc_left03 {
    float: left;
    width: 220px;
}
.hgc_left03 img {
    width: 100%;
		height:auto;
}
.hgc_right section {
    border-bottom: 1px #c4c4c4 solid;
    padding-bottom: 20px;
    margin-bottom: 20px;
}
section h2 {
    float: left;
    width: 67px;
    font-size: 12px;
    padding: 1px 2px;
    line-height: 14px;
    letter-spacing: 0;
    background: #02a7bd;
		text-align:center;
    border-radius: 15px;
    border:0;
    color:#fff;
}
section .list_txt {
    float: right;
    width: 280px;
}
section .list_txt span {
    font-size: 12px;
}
section .list_txt h3 {
    margin: 23px 0 17px;
    color: #02a7bd;
    padding:0;
    font-size: 14px;
}
section .list_txt h3:before {
    content: none;
}
section .list_txt h3:first-child {
    margin-top: 0;
}
/*--------------------
	HGC page SP
--------------------*/

@media screen and (max-width: 768px) {
    
    .hgc_left02 {
        width:100%;
        margin:0 auto;
        }
  .hgc_left02 h2 {
      margin-bottom:10px;
      
      }  
  .hgc_left02 h2 img {
    width: 50%;
    margin-left: 0px;
}  

.hgc_left02 h3{
    color:#fff;
    margin:0;
    padding:0;
    }
.hgc_left02 p{
    color:#fff;
    margin:0 0 30px;
    }
    .hgc_left03 {
    float: none;
    width: 100%;
    margin:0 auto 20px;
}

.hgc_right {
    float: none;
    width: 100%;
    margin:0 auto;
}
section h2 {
    float: none;

    margin-bottom:10px;
}
section .list_txt {
    float: none;
    width: 100%;
}

.sideMenu {
    background:none;
    width:100%;
    padding:0 0;
    margin:0;
    }
  .sideMenu h3{
      margin-left:20px;
      }  
.sideMenu li{
    background:none;
    }    
section .list_txt h3 {
    margin: 15px 0 10px;
    color: #02a7bd;
    font-size: 14px;
}
section .list_txt h3:first-child {
    margin-top: 0;
}
.column2 .sideMenu li {
  position: relative;
  padding-left: 15px;
  margin-bottom: 15px;
  font-size: 14px;
  font-size: 0.875rem;
  line-height: 1em;
}
.column2 .sideMenu li:before {
  content: "";
  display: block;
  width: 5px;
  height: 5px;
  background: #a8a8a8;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  margin: auto;
}
.column2 .sideMenu li a {
  color: #555;
}


#header #spMenu .sideMenu li {
    border-top: 1px solid #fff;
  }
  #header #spMenu .sideMenu li a {
    display: block;
    color: #fff;
    font-size: 18px;
    font-size: 1.125rem;
    text-decoration: none;
    padding: 4% 0 4% 7.15%;
  }
  #header #spMenu .sideMenu li a:before {
    content: "■";
    color: #a8a8a8;
    vertical-align: top;
    margin-right: 3%;
  }

#footer .sideMenu h3 {
    color: #0d286f;
    font-size: 1.125rem;
    background: #e6e6e6;
    line-height: 1em;
    text-align: center;
    padding: 3.9% 0;
    margin: 12.5% 0 0 0;
}
#footer .sideMenu ul>li {
    border-top: 1px solid #fff;
}
#footer .sideMenu ul>li:first-child {
    border-top: none;
}
#footer .sideMenu ul>li a {
    padding-left: 10%;
}

}