.sp_none { display:block;}
.pc_none { display:none;}
.content {
  width: 100%;
  margin: 0 auto;
}

.column2 {
    width: 960px;
    margin: 0 auto;
    margin-top: 50px;
}

.infoArea {
  margin:30px auto 50px;
  width: 960px;
}
.infoArea dl dd span {
  width: 670px;
}

.content .messa_top {
  background: #fff;
  width: 100%;
  margin: 0 auto;
  padding-bottom:60px;
}
.content .messa {
  width: 960px;
  margin: 0 auto;
}
.content .messa img {
  vertical-align: bottom;
  margin-bottom:10px;
}
.content .img_message {
  width: 250px;
  float: right;
  line-height:21px;
  margin-top:150px;
}

.re_position {
  font-family: "FOT-筑紫ゴシック Pr5 D";
  font-size: .85rem;
}

.re_name {
  font-family: "FOT-筑紫ゴシック Pr5 D";
  font-size: 1.5rem;
  margin-top: 10px;
}


.content .messageArea {
  float: left;
  width: 650px;
  padding: 0 0px 0 0;
  margin-top: 50px;
}
.content .messageArea h1 {
  width: 960px;
  margin-bottom: 50px;
}
.content .messageArea p {
  font-size: 16px;
  line-height: 2em;
}
.content .messa dl {
  width: 400px;
  margin: 50px 0 0 auto;
}
.content .messa dl dt {
  float: left;
  font-size: 12px;
  font-size: 0.75rem;
  line-height: 1.5em;
  text-align: right;
}
.content .messa dl dd {
  width: 190px;
  float: left;
  margin-left: 20px;
}
.content .bnrMessa {
  width: 100%;
  background: url("../images/recruit/bg_message.jpg") no-repeat right top;
  background-size: cover;
  padding: 120px 0 100px 0;
}

.content .bnrMessa h4:before {
  display: none;
}
.content .bnrMessa .bnrMessa_inner {
  width: 960px;
  margin: 0 auto;
}

.content .bnrMessa .bnrMessa_inner .bnrMessa_innerBox {
  width: 290px;
  text-align: center;
  margin-left: 0;
}

.content .bnrMessa .bnrMessa_inner .bnrMessa_innerBox a {
  text-decoration: none;
}
.content .bnrMessa .bnrMessa_inner .bnrMessa_innerBox h4 {
  color: #003894;
  font-weight: normal;
  font-size: 30px;
  line-height: 1em;
  margin: 0 0 15px 0;
  letter-spacing: 2px;
  padding: 0;
  text-align: center;
  /*text-shadow: 1px 1px 5px #fff;*/
}
.content .bnrMessa .bnrMessa_inner .bnrMessa_innerBox p {
  background: #fff;
  color: #555;
  width: 260px;
  text-align: center;
  line-height: 1em;
  padding: 8px 0;
  border-radius: 20px;
  margin-left: auto;
  margin-right: auto;
}
.content .bnrMessa .bnrMessa_inner .bnrMessa_innerBox p img {
  width: 6px;
  margin-right: 10px;
  vertical-align: baseline;
}
.content h2.ttl_app {
  margin-bottom: 2px;
  letter-spacing: 2px;
  text-align: center;
  padding: 20px 1em;
  font-size: 1.6rem;
  background: #00a6bf;
  color: #fff;
  border: 0;
}
.content .appArea {
  width: 100%;
}
.content .appArea h4:before {
  display: none;
}
.content .appArea li {
  float: left;
  overflow: hidden;
}
.content .appArea li.shinsotsu {
  background: url("../images/recruit/img_app01.jpg") no-repeat center top;
  background-size: cover;
  width: 49.925%;
}
.content .appArea li.career {
  background: url("../images/recruit/img_app02.jpg") no-repeat center top;
  background-size: cover;
  width: 49.925%;
  float: right;
}
.content .appArea li.shinsotsu .hover_on {
  background: url("../images/recruit/img_app01_on.jpg") no-repeat center top;
  background-size: cover;
  display: none;
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  z-index: 1;
}
.content .appArea li.career .hover_on {
  background: url("../images/recruit/img_app02_on.jpg") no-repeat center top;
  background-size: cover;
  display: none;
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  z-index: 1;
}
.content .appArea li h4 {
  margin-top: 0;
}

.content .appArea li img.onbg {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
}
.content .appArea li a {
  display: block;
  height: 273px;
  color: #fff;
  text-decoration: none;
  text-align: center;
  position: relative;
}
.content .appArea li h4 {
  position: relative;
  z-index: 10;
  font-size: 28px;
  font-size: 1.75rem;
  line-height: 1em;
  font-weight: normal;
  padding-top: 45px;
	margin:0 0 0.5em;
}
.content .appArea li p {
  position: relative;
  z-index: 10;
  font-size: 14px;
  font-size: 0.875rem;
  line-height: 1.8em;
}
.content .appArea li p.btnDeta {
  border: 2px solid #fff;
  border-radius: 20px;
  width: 240px;
  margin: 0 auto;
  margin-top: 30px;
  line-height: 1em;
  padding: 8px 0;
}
.content .appArea li p.btnDeta img {
  width: 7px;
  margin-right: 10px;
}

.column1 .table3, .column2 .table3 {
  width: 100%;
  margin-bottom: 40px;
  border-collapse: collapse;
}

.column1 .table3, .column2 .table3 th, .column1 .table3, .column2 .table3 td {
  text-align: left;
  padding: 0.2em 1%;
  background: #f1f1f1;
  border: 2px solid #c5c5c5;
}
.infoArea {
	margin:30px auto 50px;
}
.infoArea h4:before {
  display: none;
}

/* =============
先輩が贈るひとこと
================ */

/*　トップ用　*/

.achList {
  background:url("../images/recruit/img_interview.jpg") no-repeat 400px 15px;
}
.achList .fll .img_left img {
  height:100%;
  width:100%;
  margin-bottom: 20px;
}
.achList h2.entry-title {
  margin: 5px 0 5px;
}
.entry-title a{
  font-size:28px;
  text-decoration:none;
  color:#555555 !important;
}
.graduate_title{
  font-size:17px;
  line-height:20px;
  vertical-align:middle;
}
.achList .fll .img_left{
  float:left;
  margin-right:25px;
}
.graduate_title img{
  width: 67px;
  height: auto;
  margin-right:10px;
  vertical-align:bottom;
}
.achList h2.job_info {
  clear: both;
  color: #0B2C79;
  font-size: 1.25rem;
  padding: 2px 0 5px;
  border-bottom: 2px #0B2C79 solid;
  font-family: "FOT-筑紫ゴシック Pr5 D";
}
.achList h2.job_info a {
  display: block;
  text-decoration: none;
  color: #0B2C79;
}
h3.job_title {
  padding-left: 0;
  margin-top: 14px;
}
h3.job_title:before {
  display: none;
  padding: 0;
}

/*　詳細用　*/
article.senior h2 {
  margin-top: 50px;
}
.achList_detail .img_left{
  float:left;
  margin-right:25px;
}
.achList_detail .img_left img{
  height:100%;
  width:100%;
}
.rec{
  font-size:28px  !important;
  text-align:bold;
  padding:15px 0;
  text-decoration:none  !important;
  color:#555555 !important;
}
.achList_detail {
  background:url("../images/recruit/img_interview.jpg") no-repeat 360px 5px;
  overflow: hidden;
}
.senior h3 {
  padding-left: 0;
}
.senior h3:before {
  display: none;
  padding: 0;
}
.senior dl dt {
  font-family: "FOT-筑紫ゴシック Pr5 D";
  font-size: 1.2rem;
  margin-top: 15px;
}
.senior dl dt:first-child {
  margin-top: 0;
}

@media screen and (max-width: 768px) {
	.sp_none { display:none;}
	.pc_none { display:block;}
  .infoArea {
    width: 90%;
  }
  .infoArea dl dd span {
    width: 100%;
  }

  .hover_on {
    display: none!important;
  }

  .content .messageArea h1 {
    width: 100%;
    margin-bottom: 50px;
  }

  .content {
    width: 100%;
    margin: 0 auto;
  }
	.column2 {
		margin-top:4.6875%;
	}
  .content .messa {
    background: #fff;
    width: 100%;
    margin: 0 auto;
  }
  .content .messa img {
    vertical-align: bottom;
    width: 40%;
    float: left;
    margin-right: 10px;
  }
  .content .img_message {
    width: 90%;
    margin: 0 auto;
    padding-top: 10px;
    float: none;
  }

  .re_position {
    margin-top: 10px;
  }

  .content .messageArea {
    float: none;
    width: 90%;
    margin: 0 auto;
    padding: 6% 0 0 0;
    clear: left;
  }
  .content .messageArea .page-title {
    margin-bottom: 3%;
  }
  .content .messageArea p {
    font-size: 16px;
    line-height: 1.7em;
  }
  .content .messa dl {
    width: 100%;
    margin: 7% 0 0 auto;
    padding-bottom: 8%;
  }
  .content .messa dl dt {
    float: left;
    font-size: 12px;
    font-size: 0.75rem;
    line-height: 1.5em;
    text-align: right;
  }
  .content .messa dl dd {
    width: 40%;
    float: left;
    margin-left: 20px;
  }
  .content .bnrMessa {
    width: 100%;
    margin: 0 auto;
    background: url("../images/recruit/bg_message.jpg") no-repeat right top;
    background-size: cover;
    padding: 0;
  }
  .content .bnrMessa .bnrMessa_inner {
    width: 100%;
    margin: 0;
  }

  .content .bnrMessa .bnrMessa_inner .bnrMessa_innerBox {
    width: 100%;
    margin: 0;
  }
  .content .bnrMessa a {
    text-decoration: none;
    display: block;
    padding: 10% 0 10% 0;
    background: rgba(255, 255, 255, 0.4);
  }
  .content .bnrMessa h4 {
    color: #003894;
    font-weight: normal;
    font-size: 24px;
    font-size: 1.5rem;
    line-height: 1em;
    margin: 0 0 15px 0;
    letter-spacing: 2px;
    text-align: center;
  }
  .content .bnrMessa p {
    background: #e6e6e5;
    color: #555;
    width: 260px;
    text-align: center;
    line-height: 1em;
    margin: 0 auto;
    padding: 8px 0;
    border-radius: 20px;
  }
  .content .bnrMessa p img {
    width: 6px;
    margin-right: 10px;
    vertical-align: baseline;
  }
  .content h2.ttl_app {
    background: #00a6bf;
    font-size: 24px;
    font-size: 1.5rem;
    margin: 2px 0;
  }
  .content .appArea {
    width: 100%;
    margin: 0 auto;
  }
  .content .appArea li {
    float: none;
    overflow: hidden;
  }
  .content .appArea li.shinsotsu {
    background: url("../images/recruit/img_app01.jpg") no-repeat center top;
    background-size: cover;
    width: 100%;
  }
  .content .appArea li.career {
    background: url("../images/recruit/img_app02.jpg") no-repeat center top;
    background-size: cover;
    width: 100%;
    margin-left: 0;
  }
  .content .appArea li img.onbg {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    display: none !important;
  }
  .content .appArea li a {
    display: block;
    height: 273px;
    color: #fff;
    text-decoration: none;
    text-align: center;
    position: relative;
    z-index: 999;
  }
  .content .appArea li h4 {
    position: relative;
    z-index: 10;
    font-size: 28px;
    font-size: 1.75rem;
    line-height: 1em;
    font-weight: normal;
    padding-top: 45px;
  }
  .content .appArea li p {
    position: relative;
    z-index: 10;
    font-size: 14px;
    font-size: 0.875rem;
    line-height: 1.8em;
  }
  .content .appArea li p.btnDeta {
    border: 2px solid #fff;
    border-radius: 20px;
    width: 240px;
    margin: 0 auto;
    margin-top: 30px;
    line-height: 1em;
    padding: 8px 0;
  }
  .content .appArea li p.btnDeta img {
    width: 7px;
    margin-right: 10px;
  }
  .sp-hide_table {
    display: table;
  }
  .table3 {
    width: 90% !important;
    margin: 0 auto 40px auto;
  }
  .table3 th, .table3 td {
    text-align: left;
    padding: 1em 5px;
  }

  /* 先輩が贈るひとこと */
  article.senior {
    width: 90%;
    margin: 0 auto;
  }
  .achList, .achList_detail {
    background-image: none;
  }
	.graduate_title img {
		display:block;
		margin-bottom:0.5em;
	}
  .achList .fll .img_left, .achList_detail .img_left{
    float: none;
    margin-right:0px;
  }
  .achList .fll .img_left img {
    margin-bottom: 0;
  }
  header.achList_detail {
    margin-top: 30px;
  }
}
