@charset "UTF-8";
/* CSS Document */

#sitemap{
	text-align:left;
	font-size:15px;}
#sitemap h4{
	padding:20px 0 10px;}

#sitemap h4:before{
	content:url("../images/common/list_mark.png");
	font-size:20px;
	background-color: transparent;
	position: static;
	width: auto;
	height: auto;
}

#sitemap a{
	color: #555;
	text-decoration:none;}

#sitemap a:hover{
	text-decoration:underline;}

#sitemap h4 a{
	font-weight:bold;
	margin-left:10px;
	color:#003894;
	border-bottom: 1px solid #555;}

#sitemap h4 a:hover{
	border:none;}

#sitemap ul{
	margin-left:-30px;
	padding:0;}

#sitemap li{
	list-style:none;}

#sitemap .bussines_contents li span{
	padding: 0 10px;
	display: block;
	margin-bottom:10px;
	 font-family: "FOT-筑紫ゴシック Pr5 D";}

#sitemap .bussines_contents li ul{
	padding: 0 0 5px 25px;}

#sitemap .bussines_contents li ul li:before{
	content: url("../images/common/img_rsaquo.png");
	padding:5px 10px;}

#sitemap .other_contents li:before {
	padding:5px 10px;
	content: url("../images/common/img_rsaquo.png");
	margin-bottom:15px;}

#sitemap .other_contents li ul {
	padding: 0 0 5px 0;
	margin-left:15px;}

#sitemap .other_contents li ul li{
	list-style:square;
	color:#a8a8a8;
	content:none;}

#sitemap .other_contents li ul li:before{
	content:none;}


#sitemap .other_contents li ul li a{
	color:#555;}


@media screen and (min-width: 768px) {

#sitemap{
	width:960px;
	margin:0 auto;}

#sitemap .left{
	clear:both;
	float:left;
	width:400px;}

#sitemap .right{
	margin-left:400px;}

#sitemap .mt10{
	margin-top:-10px !important;}

#sitemap .bussines_contents li span{
	width:270px;}
}