/*--------------------
	Mixin
--------------------*/
.top_bg {
    width: 100%;
    background: #052556;
}
.top_bg img {
	vertical-align:middle;
}
.top_bg {
	z-index:0;
	position:relative;
	height:400px;
	background: url("../images/top/img_main.jpg") no-repeat center center;
	background-size: cover;
}
.top_bg .mainImg {
	display:block;
	position:relative;
}
.top_bg p {
	color:#fff;
	font-size:30px;
	text-indent:-2em;
	padding-left:2em;
	line-height:1.7em;
	letter-spacing:0.2em;
	position:absolute;
	top:140px;
	right:7%;
}
@media screen and (max-width: 1200px) {
.top_bg p {
	font-size:28px;
	right:4%;
}
}

.top_bg .img_sp { display:none; }
.content { margin-top:0;}

.notice {
    width: 960px;
    margin: 30px auto 0;
}
.notice p {
  margin-top: 0.8em;
}
.notice p:first-child {
  margin-top: 0;
}
.notice h4 {
    background: #e71f19;
    color: #fff;
    font-size: 20px;
    font-size: 1.25rem;
    text-align: center;
    letter-spacing: 2px;
    padding: 10px 0;
    margin: 0;
}
.notice h4:before {
	background-color:transparent;
}
.notice h4 img {
    width: 26px;
    margin-right: 5px;
    vertical-align: text-bottom;
}
.notice > div {
    font-size: 20px;
    font-size: 1.25rem;
    line-height: 1.6em;
    color: #e71f19;
    background: #fff;
    border: 2px solid #e71f19;
    border-top: none;
    font-weight: bold;
    padding: 10px 60px;
}
.no_recruitBox {
	width:100%;
	background:#fff;
	height:10px;
}
.recruitBox {
  width: 960px;
  margin: 50px auto;
  border: 4px solid #e6e6e6;
  padding: 20px 30px;
}
.recruitBox h4:before {
  display: none;
}
.recruitBox h3 {
  font-size: 22px;
  font-size: 1.375rem;
  margin-bottom: 20px;
}
.recruitBox h3 span {
  color: #102578;
  margin-left: 10px;
}
.recruitBox h3 span.en {
  font-size: 14px;
  font-size: 0.875rem;
}
.recruitBox h3:before {
  display: none;
}
.recruitBox .fll a {
  display: block;
  background: #0d286f;
  color: #fff;
  text-decoration: none;
  font-size: 20px;
  font-size: 1.25rem;
  line-height: 1em;
  width: 355px;
  text-align: center;
  padding: 35px 0;
}
.recruitBox .fll a img {
  width: 6px;
  vertical-align: middle;
  margin-right: 15px;
}
.recruitBox .flr {
  width: 505px;
}
.recruitBox .flr h4 {
  font-size: 16px;
  font-size: 1rem;
  font-weight: normal;
  background: url("../images/common/news_line2.jpg") no-repeat left bottom;
  padding-bottom: 8px;
  margin-bottom: 15px;
}
.recruitBox .flr dl {
  line-height: 2.2em;
}
.recruitBox .flr dl dt {
  float: left;
}
.recruitBox .flr dl dd {
  padding-left: 95px;
}
.recruitBox .flr dl dd a {
  display: block;
  color: #555;
  text-decoration: none;
  position: relative;
  width: 400px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.recruitBox .flr dl dd a:hover { text-decoration:underline;}
.recruitBox .flr dl dd a:after {
  content: url("../images/common/img_rsaquo.png");
  position: absolute;
  right: 0;
}

.proposition {
  background: url("../images/top/bg_teian.jpg") no-repeat center top;
  background-size: cover;
  margin: 0 auto;
  padding: 40px 0;
}
.proposition h4 {
  background: url("../images/top/ttl_proposition.png") no-repeat center top;
  padding: 16px 0 15px;
  width: 368px;
  margin: 0 auto;
  margin-bottom: 30px;
  text-align: center;
  font-size: 22px;
  font-size: 1.375rem;
  letter-spacing: 3px;
  font-weight: normal;
}
.proposition h4:before {
  display: none;
}
.proposition h4 span {
  font-size: 12px;
  font-size: 0.75rem;
  color: #00a6bf;
  letter-spacing: 0;
}
.proposition ul {
  width: 900px;
  margin: 0 auto;
  margin-bottom: 40px;
}
.proposition ul li {
  width: 280px;
  padding: 6px 6px 20px;
  margin-left: 30px;
  background: #fff;
  float: left;
}
.proposition ul li h5 {
  color: #00a6bf;
  font-size: 18px;
  font-size: 1.125rem;
  line-height: 1em;
  padding: 10px 0;
  font-weight: normal;
  text-align: center;
}
.proposition ul li h5 a {
  color: #00a6bf;
  font-size: 18px;
  font-size: 1.125rem;
  text-decoration: underline;
  background: transparent;
  font-weight: normal;
  text-align: center;
}
.proposition ul li h5 a:hover {
  text-decoration: none;
}
.proposition ul li div {
  font-size: 14px;
  font-size: 0.875rem;
  line-height: 1.8em;
  padding: 0 15px;
  margin-bottom: 15px;
}
.proposition ul li .btn_area a {
  background: #e6e6e5;
  display: block;
  text-align: center;
  color: #555;
  text-decoration: none;
  font-size: 14px;
  font-size: 0.875rem;
  line-height: 1em;
  padding: 10px 0;
  width: 240px;
  margin: 0 auto;
  border-radius: 15px;
}
.proposition ul li .btn_area a img {
  width: 6px;
  margin-right: 10px;
  vertical-align: baseline;
}
.proposition ul li:first-child {
  margin-left: 0;
}
.proposition .teianList a {
  display: block;
  width: 445px;
  margin: 0 auto;
  background: #00a6bf;
  border: 2px solid #fff;
  color: #fff;
  text-decoration: none;
  text-align: center;
  font-size: 18px;
  font-size: 1.125rem;
  line-height: 1em;
  padding: 15px 0;
}
.proposition .teianList a img {
  width: 6px;
  margin-right: 10px;
  vertical-align: baseline;
}

.infoArea {
  width: 960px;
  margin: 40px auto 45px;
}
.infoArea h4:before {
  display: none;
}

h2 {
  margin-bottom: 2px;
  letter-spacing: 2px;
	text-align:center;
	padding:20px 1em;
	font-size:1.6rem;
	background: #003894;
	color:#fff;
	border:0;
	text-align:center;
}
h2.ttl_hgc {
  background: #00a6bf;
  color:#fff;
}

.about {
  width: 100%;
  margin: 0 auto;
}
.about h4:before {
  display: none;
}
.about li {
  float: left;
  margin-left: 0.15%;
  text-align: center;
  position: relative;
  overflow: hidden;
}
.about li .onbg {
  display: none;
  position: absolute;
  left: 0;
  top: 0;
  z-index: 1;
}
.about li h4 {
  font-size: 28px;
  font-size: 1.75rem;
  font-weight: normal;
  line-height: 1em;
  letter-spacing: 2px;
  position: relative;
  z-index: 10;
  padding-top: 120px;
}
.about li h4 span {
  font-size: 16px;
  font-size: 1rem;
}
.about li p {
  position: relative;
  z-index: 10;
  padding: 0 55px;
  margin-bottom: 25px;
  line-height: 1.8em;
}
.about li .detaBtn {
  position: relative;
  z-index: 10;
  border: 2px solid #fff;
  border-radius: 2em;
  width: 240px;
  margin: 0 auto;
  line-height: 1em;
  padding: 10px;
}
.about li .detaBtn img {
  width: 6px;
  margin-right: 10px;
}
.about li:first-child {
  margin-left: 0;
}
.about li a {
  display: block;
  color: #fff;
  text-decoration: none;
  height: 280px;
}
.about li.abList1 {
  background: url("../images/top/img_about01.jpg") no-repeat left top;
  background-size: cover;
  width: 50%;
}
.about li.abList1 h4 {
  padding-top: 50px;
}
.about li.abList2 {
  background: url("../images/top/img_about02.jpg") no-repeat left top;
  background-size: cover;
  width: 24.85%;
}
.about li.abList3 {
  background: url("../images/top/img_about03.jpg") no-repeat left top;
  background-size: cover;
  width: 24.85%;
}
.about li .hover_on {
  display: none;
  width: 100%;
  height: 100%;
}
.about li .img_about01_on {
  background: url("../images/top/img_about01_on.jpg") no-repeat left top;
  background-size: cover;
  position: absolute;
  left: 0;
  top: 0;
  z-index: 1;
}
.about li .img_about02_on {
  background: url("../images/top/img_about02_on.jpg") no-repeat left top;
  background-size: cover;
  position: absolute;
  left: 0;
  top: 0;
  z-index: 1;
}
.about li .img_about03_on {
  background: url("../images/top/img_about03_on.jpg") no-repeat left top;
  background-size: cover;
  position: absolute;
  left: 0;
  top: 0;
  z-index: 1;
}
.about li h4 {
  margin-top: 0;
}

.business {
  background: #fff;
  width: 100%;
  margin-top: 2px;
  padding: 30px 0 40px;
}
.business h1 {
  width: 930px;
  margin: 0 auto;
  margin-bottom: 30px;
}
.business .business_inner {
  width: 930px;
  margin: 0 auto;
}
.business .business_inner h4 {
  color: #555;
  font-weight: normal;
  font-size: 16px;
  font-size: 1rem;
  line-height: 1em;
	background:transparent;
	border-bottom:3px solid;
  padding: 10px 20px 10px 0;
  margin-bottom: 10px;
}
.business .business_inner h4:before {
  display: none;
}
.business .business_inner h4.ternid_8 { border-color:#ea9b58;}
.business .business_inner h4.ternid_17 { border-color:#7ec249;}
.business .business_inner h4.ternid_12 { border-color:#d889b6;}
.business .business_inner h4.ternid_23 { border-color:#8a98d5;}
.business .business_inner h4.ternid_15 { border-color:#65aac7;}

.business .business_inner .fll {
  width: 450px;
}
.business .business_inner .flr {
  width: 420px;
}
.business .business_inner ul {
  margin-bottom: 20px;
}
.business .business_inner li {
  margin: 0 0 3px 30px;
}
.business .business_inner li:before {
  content: url("../images/common/img_rsaquo.png");
  margin-right: 14px;
}
.business .business_inner h4.ternid_8 { border-color:#ea9b58;}
.business .business_inner h4.ternid_17 { border-color:#7ec249;}
.business .business_inner h4.ternid_12 { border-color:#d889b6;}
.business .business_inner h4.ternid_23 { border-color:#8a98d5;}
.business .business_inner h4.ternid_15 { border-color:#65aac7;}
.business .business_inner li a {
  color: #555;
  text-decoration: none;
  line-height: 1em;
}
.business .business_inner li a:hover {
	text-decoration:underline;
}

.hgc_area {
  width: 100%;
  margin: 0 auto;
}

.hgc_area h4:before {
  display: none;
}
.hgc_area ul {
  width: 75%;
}
.hgc_area li {
  float: left;
  margin-left: 0.2%;
  text-align: center;
  position: relative;
  overflow: hidden;
  height: 280px;
}
.hgc_area li .onbg {
  display: none;
  position: absolute;
  left: 0;
  top: 0;
  z-index: 1;
}
.hgc_area li h4 {
  font-size: 28px;
  font-size: 1.75rem;
  font-weight: normal;
  line-height: 1em;
  letter-spacing: 2px;
  position: relative;
  z-index: 10;
  padding-top: 120px;
}
.hgc_area li h4 span {
  font-size: 16px;
  font-size: 1rem;
}
.hgc_area li p {
  position: relative;
  z-index: 10;
  padding: 0 55px;
  margin-bottom: 25px;
  line-height: 1.8em;
}
.hgc_area li .detaBtn {
  position: relative;
  z-index: 10;
  border: 2px solid #fff;
  border-radius: 2.5em;
  width: 240px;
  margin: 0 auto;
  line-height: 1em;
  padding: 10px;
}
.hgc_area li .detaBtn img {
  width: 6px;
  margin-right: 10px;
}
.hgc_area li:first-child {
  margin-left: 0;
}
.hgc_area li a {
  display: block;
  color: #fff;
  text-decoration: none;
  height: 280px;
}
.hgc_area li.abList1 {
  background: url("../images/top/img_hgc01.jpg") no-repeat left top;
  background-size: cover;
  width: 66.6%;
}
.hgc_area li.abList1 h4 {
  padding-top: 50px;
}
.hgc_area li.abList2 {
  background: url("../images/top/img_hgc02.jpg") no-repeat left top;
  background-size: cover;
  width: 33.2%;
}
.hgc_area li .hover_on {
  display: none;
  width: 100%;
  height: 100%;
}
.hgc_area li .img_hgc01_on {
  background: url("../images/top/img_hgc01_on.jpg") no-repeat left top;
  background-size: cover;
  position: absolute;
  left: 0;
  top: 0;
  z-index: 1;
}
.hgc_area li .img_hgc02_on {
  background: url("../images/top/img_hgc02_on.jpg") no-repeat left top;
  background-size: cover;
  position: absolute;
  left: 0;
  top: 0;
  z-index: 1;
}
.hgc_area li .img_hgc03_on {
  background: url("../images/top/img_hgc03_on.jpg") no-repeat left top;
  background-size: cover;
  position: absolute;
  left: 0;
  top: 0;
  z-index: 1;
}
.hgc_area li h4 {
  margin-top: 0;
}
.hgc_area .blog {
  width: 24.85%;
  margin-left: 0.15%;
  float: left;
  background: #ededec;
  height: 280px;
}
.hgc_area .blog h4 {
  text-align: center;
  font-size: 21px;
  font-size: 1.35rem;
  border-bottom: 2px solid #00a6bf;
  width: 228px;
  margin: 0 auto;
  font-weight: normal;
  padding: 17px 0 8px 0;
}
.hgc_area .blog dl {
  width: 228px;
  margin: 0 auto;
  margin-top: 10px;
}
.hgc_area .blog dl dd {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  margin-bottom: 0px;
}
.hgc_area .blog dl dd:before {
  content: url("../images/common/arrow_blue.png");
  margin-right: 10px;
}

.hgc_area .blog .btn_area a {
  display: block;
  background: #00a6bf;
  color: #fff;
  text-decoration: none;
  width: 228px;
  margin: 0 auto;
  margin-top: 15px;
  border-radius: 3.5em;
  text-align: center;
  padding: 5px 0;
}
.hgc_area .blog a img {
  width: 6px;
  margin-right: 10px;
}


.content .proposition a:visited {
    color: #555;
}
.content .proposition h5 a:visited {
  color: #00a6bf;
}
.content .proposition .teianList a:visited {
    color: #fff;
}
.content .about a:visited,
.content .hgc_area .fll a:visited {
    color: #fff;
}
.content .business_inner a:visited {
    color: #555;
}

/*--------------------
 sp
--------------------*/
@media screen and (max-width: 768px) {
.top_bg {
	height:auto;
}
.top_bg .mainImg {
	display:none;
}
.top_bg .img_sp { display:block; }

	.notice{
			width: 90%;
			margin: 1em auto 0;
	}
	.notice h4 {
			background: #e71f19;
			color: #fff;
			text-align: center;
			font-size: 20px;
			font-size: 1.25rem;
			font-weight: normal;
			letter-spacing: 2px;
			padding: 1.724% 0;
			margin: 0;
	}
	.notice h4 img {
			width: 5.34%;
			vertical-align: bottom;
			margin-right: 2%;
	}
	.notice > div {
			font-size: 16px;
			font-size: 1.125rem;
			line-height: 1.6em;
			color: #e71f19;
			background: #fff;
			border: 1px solid #e71f19;
			font-weight: bold;
			padding: 2% 3.448%;
	}
  .recruitBox {
    width: 90%;
    margin: 5% auto;
    border: 4px solid #e6e6e6;
    padding: 3.4% 5.1%;
  }
  .recruitBox h3 {
    font-size: 22px;
    font-size: 1.375rem;
    margin-bottom: 3%;
  }
  .recruitBox h3 span {
    color: #102578;
    margin-left: 10px;
  }
  .recruitBox h3 span.en {
    font-size: 14px;
    font-size: 0.875rem;
  }
  .recruitBox h3:before {
    display: none;
  }
  .recruitBox .fll {
    float: none;
  }
  .recruitBox .fll a {
    display: block;
    background: #0d286f;
    color: #fff;
    text-decoration: none;
    font-size: 20px;
    font-size: 1.25rem;
    line-height: 1em;
    width: 100%;
    text-align: center;
    padding: 7% 0;
  }
  .recruitBox .fll a img {
    width: 2%;
    vertical-align: baseline;
    margin-right: 15px;
  }
  .recruitBox .flr {
    float: none;
    width: 100%;
  }
  .recruitBox .flr h4 {
    font-size: 18px;
    font-size: 1.125rem;
    font-weight: normal;
    background: url("../images/common/news_line2.jpg") no-repeat left bottom;
    padding-bottom: 3%;
    margin: 6% 0 3%;
  }
  .recruitBox .flr dl {
    line-height: 1.5em;
    font-size: 16px;
    font-size: 1rem;
  }
  .recruitBox .flr dl dt {
    float: none;
  }
  .recruitBox .flr dl dd {
    padding-left: 0;
    padding-bottom: 1.8%;
    margin-bottom: 1.8%;
    border-bottom: 1px solid #e2e1e0;
  }
  .recruitBox .flr dl dd a {
    display: block;
    color: #555;
    text-decoration: none;
    position: relative;
    width: 100%;
  }
  .recruitBox .flr dl dd a:after {
    content: url("../images/common/img_rsaquo.png");
    position: absolute;
    right: 0;
  }

  .proposition {
    background: #d0ecfa;
    width: 100%;
    margin: 0 auto;
    padding: 6.24% 0;
  }
  .proposition h4 {
    background: url("../images/top/bg_ttl.png") no-repeat center top;
    background-size: cover;
    padding: 3.8%;
    width: 84%;
    margin: 0 auto;
    margin-bottom: 3.125%;
    text-align: center;
    font-size: 22px;
    font-size: 1.375rem;
    letter-spacing: 3px;
    font-weight: normal;
  }
  .proposition h4 span {
    font-size: 12px;
    font-size: 0.75rem;
    line-height: 1em;
    color: #00a6bf;
    letter-spacing: 0;
  }
  .proposition ul {
    width: 90%;
    margin: 0 auto;
  }
  .proposition ul li {
    width: 100%;
    padding: 6px 6px 20px;
    margin-left: 0;
    margin-bottom: 4.6875%;
    background: #fff;
    float: none;
  }
  .proposition ul li h5 {
    color: #00a6bf;
    font-size: 18px;
    font-size: 1.125rem;
    line-height: 1em;
    padding: 10px 0;
    font-weight: normal;
    text-align: center;
  }
  .proposition ul li p {
    font-size: 14px;
    font-size: 0.875rem;
    line-height: 1.8em;
    padding: 0 15px;
    margin-bottom: 15px;
  }
  .proposition ul li .btn_area a {
    background: #e6e6e5;
    display: block;
    text-align: center;
    color: #555;
    text-decoration: none;
    font-size: 14px;
    font-size: 0.875rem;
    line-height: 1em;
    padding: 2.4% 0;
    width: 87%;
    margin: 0 auto;
    border-radius: 15px;
  }
  .proposition ul li .btn_area a img {
    width: 1.8%;
    margin-right: 10px;
    vertical-align: baseline;
  }
  .proposition ul li:first-child {
    margin-left: 0;
  }
  .proposition .teianList a {
    display: block;
    width: 90%;
    margin: 0 auto;
    background: #00a6bf;
    border: 2px solid #fff;
    color: #fff;
    text-decoration: none;
    text-align: center;
    font-size: 20px;
    font-size: 1.25rem;
    line-height: 1em;
    padding: 15px 0;
  }
  .proposition .teianList a img {
    width: 1.8%;
    margin-right: 10px;
    vertical-align: baseline;
  }

  .infoArea {
    width: 90%;
    margin: 7% auto 10%;
  }

  h2 {
    margin-bottom: 0;
  }

  .about {
    width: 100%;
    margin: 0 auto;
  }
  .about li {
    float: none;
    width: 100%;
    margin-left: 0;
    margin-top: 2px;
    text-align: center;
    position: relative;
    overflow: hidden;
  }
  .about li .onbg {
    display: none !important;
  }
  .about li h4 {
    font-size: 28px;
    font-size: 1.75rem;
    font-weight: normal;
    line-height: 1em;
    letter-spacing: 2px;
    position: relative;
    z-index: 10;
    padding-top: 9.375%;
    margin-bottom: 0;
  }
  .about li h4 span {
    font-size: 16px;
    font-size: 1rem;
  }
  .about li p {
    position: relative;
    z-index: 10;
    padding: 0 55px;
    margin-bottom: 25px;
    line-height: 1.8em;
  }
  .about li .detaBtn {
    position: relative;
    z-index: 10;
    border: 2px solid #fff;
    border-radius: 20px;
    width: 240px;
    margin: 0 auto;
    line-height: 1em;
    padding: 10px;
  }
  .about li .detaBtn img {
    width: 6px;
    margin-right: 10px;
  }
  .about li:first-child {
    margin-left: 0;
  }
  .about li a {
    display: block;
    color: #fff;
    text-decoration: none;
    height: auto;
    padding-bottom: 8.59%;
  }
  .about li.abList1 {
    background: url("../images/top/img_about01.jpg") no-repeat center center;
    background-size: cover;
    width: 100%;
  }
  .about li.abList1 h4 {
    padding-top: 7.8125%;
    margin-bottom: 6%;
  }
  .about li.abList2 {
    background: url("../images/top/img_about02.jpg") no-repeat center center;
    background-size: cover;
    width: 100%;
  }
  .about li.abList3 {
    background: url("../images/top/img_about03.jpg") no-repeat center center;
    background-size: cover;
    width: 100%;
  }

  .business {
    background: #ededed;
    width: 100%;
    margin-top: 0;
    padding: 4.6875% 0 6.25%;
  }
  .business h1 {
    width: 90%;
    margin: 0 auto;
    margin-bottom: 4.6875%;
  }
  .business .business_inner {
    width: 90%;
    margin: 0 auto;
  }
  .business .business_inner .fll {
    width: 100%;
    float: none;
  }
  .business .business_inner .fll h4 {
    background: transparent;
    color: #555;
    font-weight: normal;
    font-size: 16px;
    font-size: 1rem;
    line-height: 1em;
    padding: 10px 20px;
    margin-bottom: 10px;
  }
  .business .business_inner .flr {
    width: 100%;
    float: none;
  }
  .business .business_inner .flr h4 {
    background: transparent;
    color: #555;
    font-weight: normal;
    font-size: 16px;
    font-size: 1rem;
    line-height: 1em;
    padding: 10px 20px;
    margin-bottom: 10px;
  }
  .business .business_inner ul {
    margin-bottom: 20px;
  }
  .business .business_inner li {
    margin: 0 0 3px 30px;
  }
  .business .business_inner li:before {
    content: url("../images/common/img_rsaquo.png");
    margin-right: 14px;
  }
  .business .business_inner li a {
    color: #555;
    text-decoration: none;
    line-height: 1em;
  }

  .hgc_area {
    width: 100%;
    margin: 0 auto;
  }
  .hgc_area ul {
    width: 100%;
  }
  .hgc_area li {
    float: none;
    width: 100%;
    margin-left: 0;
    margin-top: 2px;
    text-align: center;
    position: relative;
    overflow: hidden;
  }
  .hgc_area li .onbg {
    display: none !important;
  }
  .hgc_area li h4 {
    font-size: 28px;
    font-size: 1.75rem;
    font-weight: normal;
    line-height: 1em;
    letter-spacing: 2px;
    position: relative;
    z-index: 10;
    padding-top: 9.375%;
    margin-bottom: 0;
  }
  .hgc_area li h4 span {
    font-size: 16px;
    font-size: 1rem;
  }
  .hgc_area li p {
    position: relative;
    z-index: 10;
    padding: 0 55px;
    margin-bottom: 25px;
    line-height: 1.8em;
  }
  .hgc_area li .detaBtn {
    position: relative;
    z-index: 10;
    border: 2px solid #fff;
    border-radius: 20px;
    width: 240px;
    margin: 0 auto;
    line-height: 1em;
    padding: 10px;
  }
  .hgc_area li .detaBtn img {
    width: 6px;
    margin-right: 10px;
  }
  .hgc_area li:first-child {
    margin-left: 0;
  }
  .hgc_area li a {
    display: block;
    color: #fff;
    text-decoration: none;
    height: auto;
    padding-bottom: 8.59%;
  }
  .hgc_area li.abList1 {
    background: url("../images/top/img_hgc01.jpg") no-repeat center center;
    background-size: cover;
    width: 100%;
  }
  .hgc_area li.abList1 h4 {
    padding-top: 7.8125%;
    margin-bottom: 6%;
  }
  .hgc_area li.abList2 {
    background: url("../images/top/img_hgc02.jpg") no-repeat center center;
    background-size: cover;
    width: 100%;
  }
  .hgc_area .blog {
    width: 100%;
    margin-left: 2px;
    float: left;
    background: #ededec;
    height: auto;
    padding-bottom: 8.59%;
  }
  .hgc_area .blog h4 {
    text-align: center;
    font-size: 22px;
    font-size: 1.375rem;
    border-bottom: 2px solid #00a6bf;
    width: 62.5%;
    margin: 0 auto;
    font-weight: normal;
    padding: 8% 0 2% 0;
  }
  .hgc_area .blog dl {
    width: 90%;
    margin: 0 auto;
    margin-top: 3%;
  }
  .hgc_area .blog dl dd {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    margin-bottom: 2%;
    padding-bottom: 2%;
    border-bottom: 1px solid #e2e1e0;
  }
  .hgc_area .blog dl dd:last-child {
    border-bottom: none;
  }
  .hgc_area .blog dl dd:before {
    content: url("../images/common/arrow_blue.png");
    margin-right: 10px;
  }
  .hgc_area .blog .btn_area a {
    display: block;
    background: #00a6bf;
    color: #fff;
    text-decoration: none;
    width: 90%;
    margin: 0 auto;
    margin-top: 1%;
    border-radius: 15px;
    text-align: center;
    padding: 1% 0;
  }
  .hgc_area .blog a img {
    width: 6px;
    margin-right: 10px;
  }

  #footer {
    margin-top: 0;
  }
  .about li .hover_on {
    display: none!important;
  }
}
