@charset "UTF-8";

/*--------------------
	Mixin
--------------------*/
// コンテンツ内部の幅
@mixin defaultSize($size:924px, $top:0, $bottom:0){
	width: $size;
	margin:$top auto $bottom;
}

// Fontsizeの指定
@mixin fontsize($size: 24, $base: 16) {
  font-size: $size + px;
  font-size: ($size / $base) * 1rem;
}

// 横幅 パーセントサイズに編集 ( 1280に対して、要素のpxをvalueとして入力する )
@mixin width-p($value) { width: $value/640*100%; }
@mixin margin-p($mt, $mr, $mb, $ml) { margin: $mt/640*100% $mr/640*100% $mb/640*100% $ml/640*100%; }
@mixin padding-p($pt, $pr, $pb, $pl) { padding: $pt/640*100% $pr/640*100% $pb/640*100% $pl/640*100%; }