@charset "UTF-8";
/*--------------------
	Mixin
--------------------*/
.centerCont {
	width:960px;
	margin:0 auto;
}
.hentry > ul > li.ternid_24:before { content: url("../images/common/list_mark_o.png");}
.hentry > ul > li.ternid_25:before { content: url("../images/common/list_mark_p.png");}
.hentry > ul > li.ternid_26:before { content: url("../images/common/list_mark_m.png");}
.hentry > ul > li.ternid_27:before { content: url("../images/common/list_mark_g.png");}
.hentry > ul > li.ternid_28:before { content: url("../images/common/list_mark_b.png");}
.sideMenu ,
nav.widget {
 width:260px;
 float:left;
}
.hentry > ul > li ul {
	margin:25px 0 35px;
}
.hentry > ul > li > a {
  color: #003894;
}
.hentry > ul > li ul li {
  position: relative;
  padding-left: 15px;
  margin-bottom: 15px;
  font-size: 14px;
  font-size: 0.875rem;
  line-height: 1em;
}
.hentry > ul > li ul li:before {
  content: "";
  display: block;
  width: 5px;
  height: 5px;
  background: #a8a8a8;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  margin: auto;
}
.hentry > ul > li ul li a {
  color: #555;
}
.achList ,
.index-article {
	width: 100%;
	word-wrap:break-word;
}
.column2 .achList .fll ,
.column2 .index-article .fll {
	width: 400px;
}
.column1 .achList .fll ,
.column1 .index-article .fll {
	width: 600px;
}
.achList h2 ,
.index-article h2 {
	text-align:left;
}
.achList h2 a ,
.index-article h2 a { color:#003894;}

.achList .btn_deta2 p {
	width:190px;
	height:110px;
	overflow:hidden;
	background-position: center center;
	background-repeat: no-repeat;
	background-size: cover;
}

.numCont .detaBox .flr img {	max-width:180px; height:auto;}

.pagination { text-align:center;}

.column2 .tantou {
  width: 100%;
}
.column1 .table3 {
  width: 100%;
}


.wysiwyg_content { margin-bottom:40px;}

.column2 .entryCont > div > div:not(.dl_pdf) {
  width: 500px;
}

.main_thumb {
	width:100%;
	margin-bottom:35px;
}
.main_thumb img {
	width:100%;
}
.main_thumb img { max-width:100%;}
.office .cf table th ,
.office .cf table td { vertical-align:top; }
.office .cf .fll { width:400px; }
.office .gmap .acf-map ,
.office .gmap .marker {
	width:250px;
	height:176px;
}
.office { margin-bottom:35px;}
.office div p { float:none !important;}
.policy h4:not(.tit) {
  background: #fff;
  font-weight: bold;
	font-size:15px;
	padding:0.5em 0 0;
	margin-bottom:25px;
}

.company_greeting {
	width:100%;
	margin-bottom:50px;
}
.company_greeting figure {
	width:190px;
	float:right;
	margin:0;
}
.company_greeting .wysiwyg_content {
	width:450px;
	line-height:1.7em;
	float:left;
}
.table1 ,
.table2 {
	margin-bottom:50px;
}
.wysiwyg_content div:after {
  content: "";
  clear: both;
  display: block;
}

.wysiwyg_content figure {
	display:inline-block;
	margin:0 2em;
	text-align:center;
}
.pagination { margin:30px 0;}
.pagination h2 { display:none;}
.pagination a { color:#003894;}
.works_detail { margin-bottom:0.5em; font-size:0.8rem;}
.works_detail span { margin-right:1em;}
/*--------------------
	スマホ用
--------------------*/
@media screen and (max-width: 768px) {
.wysiwyg_content {
	width:90%;
	margin-left: auto;
	margin-right:auto;
}
.centerCont {
	width:100%;
	margin:0 auto;
}
nav.widget {
 width:90%;
 margin:0 auto;
 float:none;
}
.index-article {
    padding: 3.125% 4.6%;
    position: relative;
    width: 90%;
    margin: 0 auto;}
.achList .fll ,
.index-article .fll {
	width: 100% !important;
}

.index-article h2 {
	font-size: 16px;
	font-size: 1rem;
}

.index-article h2:before {
	padding-right: 5%;
}

.index-article .btn_deta2 {
	width: 40%;
	right: 4.6%;
	top: 15%;
	margin: 0;
	font-size: 12px;
	font-size: 0.75rem;
}
.achList .btn_deta2 p {
	width:100%;
	height:90px;
}

.numCont .detaBox .flr img {	max-width:100%;}

.office .cf p img { width:1.5em;}
.office .cf .fll { margin-bottom:1.5em; }
.office .cf .acf-map { margin-bottom:1em; }

.office .cf .fll ,
.office .gmap .acf-map ,
.office .gmap .marker {
	width:100%;
}
.company_greeting {
	width:90%;
	margin-left:auto;
	margin-right:auto;
}
.company_greeting figure {
	width:30%;
	text-align:center;
}
.company_greeting figure img { width:90%;}
.company_greeting .wysiwyg_content {
	width:65%;
}

.panf li a img.thumb {
	width:60%;
	height:auto;
}
}
