@charset "UTF-8";
@import "mixin";

/*--------------------
	common
--------------------*/
body {
	font-family: 'Lucida Grande', 'Hiragino Kaku Gothic ProN', Meiryo, MS PGothic, sans-serif;
	// font-family: 'Hiragino Mincho ProN','Lucida Grande', 'Hiragino Kaku Gothic ProN', Meiryo, MS PGothic, sans-serif;
	@include fontsize(14);
	line-height: 1.5em;
	color:#555;
}
.cf:after {
	content: "";
	clear: both;
	display: block;
}
.fll { float: left; }
.flr { float: right; }
.tbl { display: table; }
.cell { display: table-cell; }
* {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-o-box-sizing: border-box;
	-ms-box-sizing: border-box;
	box-sizing: border-box;
}
.box-shadow { box-shadow:rgba(128, 128, 128, 0.2) 0px 0px 4px 4px; }
.box-shadow-white { box-shadow:rgba(255, 255, 255, 0.2) 0px 0px 4px 4px; }
.bdra_s { border-radius: 2px; }
.bdra_m { border-radius: 4px; }
.bdra_l { border-radius: 6px; }
.textOverflow {
	overflow: hidden;
	width: 100%;
	height: 50px;
}


/*--------------------
	パーツ
--------------------*/
.page-title {
	@include fontsize(24);
	line-height: 1em;
	color: #555555;
	font-weight: normal;
	position: relative;
	padding-left: 50px;
	margin-bottom: 40px;
}
.page-title:before {
	content: "";
	position: absolute;
	display: block;
	width: 30px;
	height: 6px;
	background: #003894;
	border-radius: 3px;
	top: 0;
	bottom: 0;
	left: 0;
	margin: auto;
}

.hentry > ul > li {
	color: #003894;
	@include fontsize(20);
	margin-bottom: 30px;
}
.hentry > ul > li:before {
	content: url("../images/common/list_mark.png");
}
.hentry > ul > li > ul {
	margin-left: 20px;
}

h2 {
	color: #fff;
	background: #003894;
	@include fontsize(20);
	letter-spacing: 2px;
	line-height: 1.5em;
	font-weight: normal;
	padding: 8px 0 5px 20px;
	margin-bottom: 50px;
}

h3 {
	@include fontsize(22);
	font-weight: normal;
	margin-bottom: 30px;
}
h3:before {
	content: url("../images/common/list_mark.png");
	margin-right: 20px;
}

.entry ul {
	margin-bottom: 30px;
}
.entry ul li {
	@include fontsize(14);
	position: relative;
	padding-left: 35px;
}
.entry ul li:before {
	content: "";
	position: absolute;
	display: block;
	width: 20px;
	height: 6px;
	background: #b7b7b7;
	border-radius: 3px;
	top: 0;
	bottom: 0;
	left: 0;
	margin: auto;
}

h4 {
	@include fontsize(18);
	margin-bottom: 20px;
}

.tantou {
	width: 960px;
}
.tantou p {
	line-height: 1.7em;
}
.resname {
	text-align: right;
	border-top: 2px solid #d8d8d8;
	padding-top: 14px;
	margin: 14px 0 60px;
}
.resname span {
	@include fontsize(12);
	padding-right: 1em;
}

.entry-content p {
	@include fontsize(20);
	margin-bottom: 20px;
}
.entry-content p:before {
	content: url("../images/common/list_mark.png");
	padding-right: 15px;
}
.entry-content > div > div {
	width: 820px;
	line-height: 1.7em;
	margin-bottom: 30px;
	float: left;
}
.entry-content .dl_pdf {
	float: left;
	text-align: center;
	width: 122px;
	margin: -40px 0 0 15px;
}
.entry-content .dl_pdf img {
	vertical-align: bottom;
	margin-bottom: 10px;
}
.entry-content .dl_pdf img.spPdf {
	display: none;
}
.entry-content .size {
	@include fontsize(12);
	line-height: 1em;
	color: #003894;
	font-weight: bold;
	float: none;
}
.entry-content .size:before {
	content: "";
	padding-right: 0;
}

.achList {
	border: 5px solid #ededed;
	padding: 20px 30px;
	position: relative;
	width: 680px;
	margin-bottom: 30px;
}
.achList .classification {
	@include fontsize(12);
	color: #fff;
	background: #8abfd5;
	padding: 5px 10px;
	line-height: 1em;
}
.achList h2 {
	@include fontsize(18);
	background: none;
	color: #003894;
	padding: 0;
	margin: 15px 0 5px;
}
.achList h2:before {
	content: url("../images/common/list_mark.png");
	padding-right: 15px;
}
.achList .fiscal_year,
.achList .client {
	@include fontsize(12);
	line-height: 1em;
}
.achList .btn_deta2 {
	@include fontsize(16);
	line-height: 1em;
	width: 190px;
	height: 151px;
	text-align:center;
	position: absolute;
	top: 0;
	bottom: 0;
	right: 30px;
	margin: auto;
}
.achList .btn_deta2 img {
	vertical-align: bottom;
}
.achList .btn_deta2 a {
	display: block;
	background: #003894;
	text-decoration: none;
	color: #fff;
	padding: 12px 0;
}
.achList .btn_deta2 span {
	vertical-align: text-top;
	padding-right: 10px;
	font-weight: bold;
}

.index-article {
	border: 5px solid #ededed;
	padding: 20px 30px;
	position: relative;
	width: 960px;
	margin-bottom: 30px;
}
.index-article .classification {
	@include fontsize(12);
	color: #fff;
	background: #8abfd5;
	padding: 5px 10px;
	line-height: 1em;
}
.index-article h2 {
	background: none;
	color: #003894;
	padding: 0;
	margin: 15px 0 5px;
}
.index-article h2:before {
	content: url("../images/common/list_mark.png");
	padding-right: 15px;
}
.index-article .fiscal_year,
.index-article .client {
	@include fontsize(12);
	line-height: 1em;
}
.index-article .btn_deta {
	@include fontsize(16);
	line-height: 1em;
	width: 190px;
	height: 41px;
	text-align:center;
	position: absolute;
	top: 0;
	bottom: 0;
	right: 30px;
	margin: auto;
}
.index-article .btn_deta a {
	display: block;
	background: #003894;
	text-decoration: none;
	color: #fff;
	padding: 12px 0;
}
.index-article .btn_deta span {
	vertical-align: text-top;
	padding-right: 10px;
	font-weight: bold;
}
.index-article .btn_deta2 {
	@include fontsize(16);
	line-height: 1em;
	width: 190px;
	height: 151px;
	text-align:center;
	position: absolute;
	top: 0;
	bottom: 0;
	right: 30px;
	margin: auto;
}
.index-article .btn_deta2 img {
	vertical-align: bottom;
}
.index-article .btn_deta2 a {
	display: block;
	background: #003894;
	text-decoration: none;
	color: #fff;
	padding: 12px 0;
}
.index-article .btn_deta2 span {
	vertical-align: text-top;
	padding-right: 10px;
	font-weight: bold;
}

.nttl {
	h4 span {
		color: #00a6bf;
		@include fontsize(30);
		vertical-align: middle;
		padding-right: 20px;
	}
}

.numCont {
	margin-bottom: 40px;
	width: 955px;
}
.numCont .numBox {
	color: #fff;
	background: #003894;
	@include fontsize(18);
	line-height: 1em;
	float: left;
	padding: 20px;
	margin-right: 20px;
}
.numCont .detaBox {
	width: 880px;
	border: 4px solid #ededed;
	padding: 30px;
	float: left;
}
.numCont .detaBox .fll {
	width: 600px;
}
.numCont .detaBox h3 {
	@include fontsize(20);
	line-height: 1.7em;
	border-bottom: 2px solid #0d286f;
	padding-bottom: 8px;
}
.numCont .detaBox h3:before {
	display: none;
}

.inq h3 {
	@include fontsize(18);
	line-height: 1em;
	color: #fff;
	background: #003894;
	padding: 15px 15px 13px;
}
.inq h3:before {
	display: none;
}
.inq p {
	line-height: 1.7em;
	margin-bottom: 45px;
}
.inq .tel {
	float: left;
}
.inq .tel h4 {
	@include fontsize(20);
	margin-bottom: 0;
}
.inq .tel h4:before {
	content: url("../images/common/inq_mark.png");
	margin-right: 15px;
}
.inq .tel p {
	@include fontsize(40);
	margin-top: 10px;
}
.inq .tel p:before {
	content: url("../images/common/tel_mark.png");
	margin-right: 10px;
	vertical-align: middle;
}

.inq .website {
	float: left;
	margin-left: 100px;
}
.inq .website h4 {
	@include fontsize(20);
	margin-bottom: 0;
}
.inq .website h4:before {
	content: url("../images/common/inq_mark.png");
	margin-right: 15px;
}
.inq .website a {
	@include fontsize(18);
	display: block;
	background: #00a6bf;
	color: #fff;
	text-align: center;
	text-decoration: none;
	padding: 15px 0;
	margin-top: 20px;
}
.inq .hgc h4 {
	@include fontsize(14);
	font-weight: normal;
	margin-bottom: 0;
}
.inq .hgc p {
	@include fontsize(40);
	line-height: 1em;
	margin-top: 5px;
}
.inq .hgc p:before {
	content: url("../images/common/free_mark.png");
	vertical-align: bottom;
	margin-right: 5px;
}

.infoArea {
	width: 680px;
	margin-bottom: 30px;
	position: relative;
}
.infoArea .newsList {
	position: absolute;
	@include fontsize(14);
	top: 0;
	right: 0;
}
.infoArea .newsList span {
	color: #00a6bf;
	margin-right: 10px;
	@include fontsize(20);
	font-weight: bold;
}
.infoArea .newsList a {
	text-decoration: none;
	color: #555;
}
.infoArea h4 {
	font-weight: normal;
	letter-spacing: 3px;
	@include fontsize(20);
	line-height: 1em;
	background: url("../images/common/news_line.jpg") no-repeat left bottom;
	padding-bottom: 20px;
	margin-bottom: 20px;
}
.infoArea h4 span {
	color: #00a6bf;
}
.infoArea h4 span.news {
	@include fontsize(14);
	letter-spacing: 1px;
}
.infoArea dl {
	@include fontsize(14);
}
.infoArea dl dt {
	float: left;
	margin-bottom: 15px;
}
.infoArea dl dt span {
	display: inline-block;
	width: 120px;
	text-align: center;
	border-radius: 8px;
	color: #fff;
	margin-left: 30px;
}
.infoArea dl dt span.iconNews {
	background: #7893c0;
}
.infoArea dl dt span.iconEvent {
	background: #e6b673;
}
.infoArea dl dt span.iconOther {
	background: #7dc3cd;
}
.infoArea dl dd {
	margin-bottom: 15px;
	position: relative;
}
.infoArea dl dd span {
	display: block;
	padding-left: 30px;
	width: 420px;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}
.infoArea dl dd div {
	position: absolute;
	top: 0;
	right: 0;
	line-height: 1em;
	@include fontsize(20);
}

.qa #acMenu {
	width: 680px;
}
.qa #acMenu dt {
	background: #ededed;
	margin-top: 20px;
	position: relative;
	padding: 20px 60px;
}
.qa #acMenu dt > img {
	position: absolute;
	width: 20px;
	height: 28px;
	top: 0;
	left: 23px;
	bottom: 0;
	margin: auto;
}
.qa #acMenu dt .arrow {
	width: 26px;
	height: 26px;
	position: absolute;
	top: 0;
	bottom: 0;
	right: 15px;
	margin: auto;
}
.qa #acMenu dd {
	display: none;
	position: relative;
	padding: 15px 60px;
	border: 5px solid #ededed;
	border-top: none;
}
.qa #acMenu dd img {
	width: 20px;
	height: 22px;
	position: absolute;
	top: 15px;
	left: 23px;
}

.policy h4 {
	background: #ededed;
	font-weight: normal;
	padding: 15px;
}
.policy h5 {
	margin-bottom: 5px;
}
.policy p {
	margin-bottom: 30px;
}

.table1 {
	width: 680px;
}
.table1 th {
	width: 200px;
	background: #ddd;
	border-top: 2px solid #fff;
	text-align: center;
	vertical-align: middle;
	padding: 15px 0;
	font-weight: normal;
}
.table1 td {
	width: 480px;
	background: #f1f1f1;
	border-top: 2px solid #c5c5c5;
	text-align: left;
	padding-left: 40px;
	padding: 15px 0 15px 40px;
}
.table1 tr:first-child th,
.table1 tr:first-child td {
	border-top: none;
}

.office {
	margin-bottom: 40px;
}
.office h4 {
	@include fontsize(24);
	font-weight: normal;
	position: relative;
	padding-left: 40px;
}
.office h4:before {
	content: "";
	background: #003894;
	display: block;
	width: 20px;
	height: 6px;
	border-radius: 3px;
	position: absolute;
	top:0;
	bottom: 0;
	left: 0;
	margin: auto;
}
.office div p {
	float: left;
	line-height: 1.7em;
}
.office .gmap {
	float: left;
	margin-left: 15px;
}
.office .gmap a {
	color: #003894;
	@include fontsize(12);
	text-decoration: none;
	display: block;
	text-align: right;
}

.table2 {
	width: 680px;
	border-collapse: collapse;
}
.table2 th {
	text-align: left;
	background: #f1f1f1;
	border: 2px solid #c5c5c5;
	font-weight: normal;
	padding: 15px 0 15px 40px
}
.table2 td {
	width: 165px;
	text-align: center;
	background: #f1f1f1;
	border: 2px solid #c5c5c5;
}

.closing {
	margin-bottom: 30px;
}
.closing h3 {
	font-weight: bold;
	@include fontsize(20);
	margin-bottom: 15px;
}
.closing .dl_pdf {
	float: left;
	margin-left: 15px;
	color: #003894;
}
.closing .dl_pdf img {
	vertical-align: middle;
	margin-right: 10px;
}
.closing .dl_pdf img.sppsd {
	display: none;
}

.page-title2 {
	@include fontsize(24);
	line-height: 1em;
	color: #555555;
	font-weight: normal;
	position: relative;
	padding-left: 50px;
	margin-bottom: 40px;
}
.page-title2:before {
	content: "";
	position: absolute;
	display: block;
	width: 30px;
	height: 6px;
	background: #003894;
	border-radius: 3px;
	top: 0;
	bottom: 0;
	left: 0;
	margin: auto;
}

.facility {
	width: 680px;
	margin-bottom: 40px;
}
.facility p {
	@include fontsize(18);
	line-height: 1.7em;
}

.panf li {
	text-align: center;
	float: left;
	width: 200px;
	margin-left: 40px;
}
.panf li:first-child {
	margin-left: 0;
}
.panf li p {
	line-height: 1em;
	@include fontsize(16);
	margin: 10px 0 10px 0;
}
.panf li p.dl_pdf {
	line-height: 1em;
	@include fontsize(14);
	line-height: 1.4em;
}
.panf li p.dl_pdf a {
	text-decoration: none;
}
.panf .dl_pdf .sppsd {
	display: none;
}

.hydro li {
	float: left;
	margin: 0 0 30px 30px;
	width: 350px;
}
.hydro li:first-child {
	margin-left: 0;
}
.hydro li img {
	vertical-align: bottom;
}
.hydro li p {
	@include fontsize(20);
	text-align: center;
	border-top: 2px solid #00a6bf;
	margin-top: 14px;
	padding-top: 14px;
}

.enq {
	width: 960px;
	border: 20px solid #ededed;
	padding: 25px 20px;
}
.enq .fll {
	width: 590px;
}
.enq h4 {
	color: #003894;
	letter-spacing: 1px;
	margin-bottom: 15px;
	@include fontsize(18);
}
.enq p {
	@include fontsize(14);
	line-height: 1.6em;
}

.ans {
	border: 5px solid #ededed;
	background: #ededed;
	width: 960px;
	padding: 20px 0 0;
	margin-bottom: 40px;
}
.ans h4 {
	@include fontsize(16);
	line-height: 1.5em;
	text-indent: -1.3em;
	padding-left: 1.3em;
	padding-top: 20px;
	border-top: 2px solid #d8d8d8;
	margin: 0 25px 20px;
}
.ans h4:first-child {
	border-top: none;
	padding-top: 0;
}
.ans h4 span {
	font-family: Osaka,"ＭＳ Ｐゴシック","MS PGothic",Sans-Serif;
	margin-right: 0.3em;
}
.ans .comment {
	@include fontsize(14);
	line-height: 1.7em;
	background: #fff;
	padding: 20px 25px;
}
.ans .comment .name {
	text-align: right;
	@include fontsize(16);
	font-weight: bold;
	border-top: 2px solid #d8d8d8;
	margin-top: 10px;
	padding-top: 10px;
}
.ans .comment .name span {
	text-align: right;
	@include fontsize(12);
	font-weight: normal;
	margin-right: 15px;
}

.table3 {
	width: 760px;
	margin-bottom: 20px;
	@include fontsize(16);
}
.table3 th {
	background: #dddddd;
	border-left: 2px solid #fff;
	text-align: center;
	padding: 15px 0;
	font-weight: normal;
}
.table3 th:first-child {
	border-left: none;
	font-weight: bold;
}
.table3 td {
	background: #f1f1f1;
	border-left: 2px solid #c5c5c5;
	text-align: center;
	padding: 15px 0;
	font-weight: normal;
}
.table3 td:first-child {
	border-left: none;
	font-weight: bold;
}

.seminar {
	width: 682px;
	border: 4px solid #e6e6e5;
	padding: 20px 30px;
}
.seminar h3 {
	@include fontsize(20);
	font-weight: normal;
	letter-spacing: 1px;
	background: url("../images/common/news_line.jpg") no-repeat left bottom;
	padding-bottom: 10px;
	margin-bottom: 20px;
}
.seminar h3 span {
	color: #00a6bf;
	margin-left: 20px;
	letter-spacing: 0px;
}
.seminar h3 span:last-child {
	margin-left: 10px;
	@include fontsize(14);
}
.seminar h3:before {
	display: none;
}
.seminar h4 {
	color: #00a6bf;
	font-weight: normal;
	margin-bottom: 10px;
}
.seminar a {
	display: block;
	float: right;
	color: #555;
	background: #e6e6e5;
	width: 200px;
	text-align: center;
	text-decoration: none;
	line-height: 1em;
	padding: 8px 0;
	border-radius: 15px;
	margin-top: 8px;
}

.pc-hide_table {
	display: none;
}
.sp-hide_table {
	display: table;
}

/*--------------------
	スマホ用
--------------------*/
@media screen and (max-width:768px){

img {width:100%}
h3:before {
	margin-right: 2%;
}

.page-title {
	padding-left: 10%;
}
.achList {
	padding: 3.125% 4.6%;
	position: relative;
	width: 90%;
	margin: 0 auto;
}
.achList .fll {
	width: 50%;
}
.achList h2 {
	@include fontsize(16);
}
.achList h2:before {
	padding-right: 5%;
}
.achList .btn_deta2 {
	width: 40%;
	right: 4.6%;
	top: 15%;
	margin: 0;
	@include fontsize(12);
}

.entry ul li {
	padding-left: 7%;
}

.tantou {
	width: 100%;
}

.entry-content {
	width: 90%;
	margin: 0 auto;
}
.entry-content p:before {
	padding-right: 3%;
}
.entry-content > div > div {
	width: 100%;
}
.entry-content .dl_pdf {
	width: 100%;
	margin: 0;
	float: none;
}
.entry-content .dl_pdf img {
	display: none;
}
.entry-content .dl_pdf img.spPdf {
	display: block;
}
.entry-content .size {
	@include fontsize(20);
}

.index-article {
	width: 90%;
	margin: 0 auto;
	padding: 5.125% 4.6%;
}
.index-article .fll {
	float: none;
}
.index-article h2:before {
	padding-right: 3%;
}
.index-article .fll p {
	@include fontsize(18);
	line-height: 1.5em;
	margin-bottom: 2%;
}
.index-article .btn_deta {
	position: static;
	width: 87%;
	margin-top: 3%;
}
.index-article .btn_deta2 {
	position: static;
	margin-top: 3%;
	height: auto;
	width: 87%;
}
.index-article .classification {
	@include fontsize(16);
	padding: 2% 3%;
}
.index-article .fiscal_year,
.index-article .client {
	@include fontsize(14);
}

.nttl {
	width: 90%;
	margin: 0 auto;
}
.nttl h4 span {
	padding-right: 3%;
}

.numCont {
	width: 90%;
	margin: 0 auto;
}
.numCont .numBox {
	width: 13%;
	margin: 0;
	padding: 18px 0;
	text-align: center;
}
.numCont .detaBox {
	width: 82%;
	float: right
}
.numCont .detaBox .fll {
	width: 100%;
}
.numCont .detaBox h3 {
	width: 100%;
	margin-bottom: 4%;
	padding-bottom: 2.5%;
}
.numCont .detaBox p {
	@include fontsize(16);
	line-height: 1.5em;
	margin-bottom: 5%;
}
.numCont .detaBox .flr {
	float: none;
}

.inq {
	width: 90%;
	margin: 0 auto;
}
.inq h3 {
	width: 100%;
}
.inq p {
	@include fontsize(16);
	line-height: 1.5em;
}
.inq .tel {
	float: none;
}
.inq .tel h4 {
	@include fontsize(18);
}
.inq .tel h4:before {
	margin-right: 3%;
}
.inq .tel p {
	@include fontsize(35);
}
.inq .website {
	float: none;
	margin: 0;
}
.inq .website h4 {
	@include fontsize(18);
}
.inq .website h4:before {
	margin-right: 3%;
}
.inq .hgc {
	margin-top: 5%;
}
.inq .hgc p {
	@include fontsize(35);
}

.infoArea {
	width: 90%;
	margin: 0 auto;
}
.infoArea h4 {
	padding-bottom: 4%;
	margin-bottom: 4%;
	letter-spacing: 0px;
}
.infoArea dl dt {
	margin-bottom: 2%;
}
.infoArea dl dd {
	border-bottom: 2px solid #e2e1e0;
	padding-bottom: 2%;
}
.infoArea dl dd span {
	width: 100%;
	padding: 0;
}
.infoArea dl dd div {
	top: auto;
	bottom: 18%;
}

.qa {
	width: 90%;
	margin: 0 auto;
}
.qa #acMenu {
	width: 100%;
}

.policy {
	width: 90%;
	margin: 0 auto;
}

.table1 {
	width: 95%;
	margin: 0 auto;
}
.table1 td {
	padding-left: 5%;
}

.office {
	width: 90%;
	margin: 0 auto;
}
.office div p {
	float: none;
	@include fontsize(16);
	line-height: 1.5em;
}
.office h4 {
	padding-left: 8%;
}
.office .gmap {
	width: 100%;
	float: none;
	margin: 4% 0 0 0;
}
.office .gmap iframe {
	width: 100%;
}
.office .gmap a {
	@include fontsize(16);
}

.table2 {
	width: 90%;
	margin: 0 auto;
}

.page-title2 {
	padding-left: 12%;
}

.closing {
	width: 90%;
	margin: 0 auto;
}
.closing .fll {
	float: none;
	padding-left: 7.5%;
	@include fontsize(16);
	margin-bottom: 4%;
}
.closing .dl_pdf {
	float: none;
	text-align: center;
	@include fontsize(20);
}
.closing .dl_pdf img {
	display: none;
}
.closing .dl_pdf img.sppsd {
	display: block;
	margin-bottom: 2%;
}

.facility {
	width: 90%;
	margin: 0 auto;
}

.panf {
	width: 90%;
	margin: 0 auto;
}
.panf li {
	float: none;
	margin: 0;
	width: 100%;
	margin-bottom: 5%;
}
.panf li > img {
	width:50%;
	text-align: center;
}
.panf li p {
	@include fontsize(20);
	padding-bottom: 2%;
}
.panf li p.dl_pdf {
	@include fontsize(20);
	color: #003894;
}
.panf .dl_pdf img {
	display: none;
}
.panf .dl_pdf .sppsd {
	display: inline;
}

.hydro {
	width: 90%;
	margin: 0 auto;
}
.hydro li {
	float: none;
	margin: 0;
	width: 100%;
	margin-bottom: 5%;
}
.hydro li p {
	@include fontsize(20);
}

.enq {
	width: 90%;
	margin: 0 auto;
}
.enq .fll {
	float: none;
	width: 100%;
}
.enq .flr {
	float: none;
	width: 100%;
	margin-top: 3%
}

.ans {
	width: 90%;
	margin: 0 auto;
}
.ans .comment {
	@include fontsize(16);
}

.table3sp {
	width: 90%;
	margin: 0 auto;
	@include fontsize(18);
	text-align: center;
}
.table3sp th {
	background: #dddddd;
	border-top: 2px solid #fff;
	font-weight: normal;
	width: 50%;
	padding: 3% 0;
}
.table3sp tr:first-child th {
	border-top: none;
}
.table3sp td {
	background: #f1f1f1;
	border-top: 2px solid #c5c5c5;
	width: 50%;
}
.table3sp tr:first-child td {
	border-top: none;
}

.seminar {
	width: 90%;
	margin: 0 auto;
}
.seminar h4 {
	line-height: 1.5em;
}
.seminar p {
	@include fontsize(16);
	line-height: 1.6em;
}
.seminar a {
	width: 73%;
	margin: 0 auto;
	margin-top: 4%;
	float: none;
}

.pc-hide_table {
	display: table;
}
.sp-hide_table {
	display: none;
}
}