@import url("http://www.css-reset.com/css/meyer.css?ver=4.3.1");
@import url("common/css/common.css");
ul li {
    font-size: 14px;
    font-size: 0.875rem;
    position: relative;
    padding-left: 35px;
}
ul li:before {
    content: "";
    position: absolute;
    display: block;
    width: 20px;
    height: 6px;
    background: #b7b7b7;
    border-radius: 3px;
    top: 0;
    bottom: 0;
    left: 0;
    margin: auto;
}
body.wp-autoresize {
    padding: 0 10px !important;
}
h1 {
  font-size: 24px;
  font-size: 1.5rem;
  line-height: 1em;
  color: #555555;
  font-weight: normal;
  position: relative;
  padding-left: 50px;
  margin-bottom: 20px;
}

h1:before {
  content: "";
  position: absolute;
  display: block;
  width: 30px;
  height: 6px;
  background: #003894;
  border-radius: 3px;
  top: 0;
  bottom: 0;
  left: 0;
  margin: auto;
}
