/*--------------------
	Mixin
--------------------*/
#header {
  padding: 15px 0 14px;
}
#header h1 {
  margin-top: 0;
}
#header #nav .logo {
  margin-top: 20px;
}

.mainImg {
  position: relative;
}
.mainImg a {
  position: absolute;
  color: #565656;
  text-decoration: none;
  top: 60%;
  right: 25%;
  height: 21px;
  font-size: 16px;
}
.mainImg a img {
  width: 6px;
  vertical-align: baseline;
  margin-right: 10px;
}

.column2 .sideMenu li.menuttl {
  font-size: 20px;
  font-size: 1.25rem;
  padding-left: 45px;
  letter-spacing: 3px;
  margin-bottom: 20px;
}
.column2 .sideMenu li.menuttl.ach {
  margin-top: 50px;
}
.column2 .sideMenu li.menuttl:before {
  content: "";
  height: 6px;
  width: 30px;
  background: #003894;
  border-radius: 10px;
}

.article {
  border-bottom: 1px solid #c3c3c3;
  padding: 0 0 40px 0;
  margin-bottom: 35px;
}
.article a {
  color: #555;
}
.article a:hover {
	text-decoration:none;
}

.article h4 {
  color: #0B2C79;
  font-size: 20px;
  font-size: 1.375rem;
  letter-spacing: 2px;
  line-height: 1.5em;
  font-weight: normal;
  padding: 2px 12px 5px;
  margin-bottom: 10px;
  text-align: left;
  border-bottom: 2px #0B2C79 solid;
  border-left: 8px #0B2C79 solid;
  font-family: "FOT-筑紫ゴシック Pr5 D";
}
.article h4 a {
  text-decoration: none;
}
.article .date {
  font-size: 12px;
  font-size: 0.75rem;
  margin-bottom: 0;
  float: left;
  margin-right: 15px;
}
.article .cate {
  margin-bottom: 28px;
}
.article .cate li {
	display:inline-block;
	margin-right:0.2em;
}
.article .cate li a {
  color: #fff;
  background: #7dc6eb;
  display: block;
  width: 78px;
  font-size: 12px;
  font-size: 0.75rem;
  text-align: center;
	text-decoration:none;
}
.article .cate li a:hover { opacity:0.7; }
.article img {
  width: 216px;
  float: left;
  margin-right: 40px;
}
.article .blogtxt {
  font-size: 14px;
  font-size: 0.875rem;
  line-height: 1.7em;
}
.article .blogtxt a {
  display: block;
  width: 210px;
  text-align: center;
  color: #fff;
  text-decoration: none;
  background: #003894;
  line-height: 1em;
  padding: 13px 0 15px;
  margin-top: 40px;
  margin-left: auto;
}

.article_deta {
  padding: 0 0 40px 0;
  margin-bottom: 35px;
}
.article_deta h4 {
  color: #0B2C79;
  font-size: 20px;
  font-size: 1.375rem;
  letter-spacing: 2px;
  line-height: 1.5em;
  font-weight: normal;
  padding: 2px 12px 5px;
  margin-bottom: 10px;
  text-align: left;
  border-bottom: 2px #0B2C79 solid;
  border-left: 8px #0B2C79 solid;
  font-family: "FOT-筑紫ゴシック Pr5 D";
}
.article_deta h4 a {
  text-decoration: none;
}
.article_deta .date {
  font-size: 12px;
  font-size: 0.75rem;
  margin-bottom: 0;
  float: left;
  margin-right: 15px;
}
.article_deta .cate {
  margin-bottom: 28px;
}
.article_deta .cate li {
  display:inline-block;
  margin-right:0.2em;
}
.article_deta .cate li a {
  color: #fff;
  background: #7dc6eb;
  display: block;
  width: 78px;
  font-size: 12px;
  font-size: 0.75rem;
  text-align: center;
  text-decoration:none;
}
.article_deta .cate li a:hover { opacity:0.7; }
.article_deta img.thumb {
	max-width:100%;
	margin:1em 0;
}
.article_deta .detatxt {
  margin-top: 20px;
  line-height: 1.7em;
}
.detatxt {
	font-size:16px;
	line-height:1.6em;
}
.detatxt p {
  margin-top: 0.8em;
}
.detatxt p:first-child {
  margin-top: 0;
}
.pagination {
	margin:50px 0;
	text-align:center;
}
.pagination .nav-links {
	display:inline-block;
	background:#ededed;
	padding:0.3em;
  font-family: "FOT-筑紫ゴシック Pr5 D";
}
.pagination span.page-numbers.dots {
	background:#fff;
	display:inline-block;
	padding:0 0.3em;
}
.pagination span.page-numbers.current ,
.pagination .nav-links a {
	text-decoration:none;
	background:#fff;
	display:inline-block;
	padding:0 0.5em;
}
.pagination span.page-numbers.current ,
.pagination .nav-links a:hover {
	color:#fff;
	background:#003894;
}
.pagination .nav-links a.prev.page-numbers ,
.pagination .nav-links a.next.page-numbers {
	background:transparent;
}
.pagination .nav-links a.prev.page-numbers:before {
  content: url("../images/common/page_left.png");
}
.pagination .nav-links a.next.page-numbers:before {
  content: url("../images/common/page_right.png");
}
.pagination .nav-links a.prev.page-numbers:hover ,
.pagination .nav-links a.next.page-numbers:hover {
	opacity:0.6;
}

.pagination h2 { display:none;}
.pagination a { color:#003894;}
.works_detail { margin-top:-0.5em;margin-bottom:1em; font-size:0.8rem;}
.works_detail span { margin-right:1em;}

@media screen and (max-width: 768px) {
  #header {
    padding: 1.5% 4.6875% 4% 4.6875%;
  }
  #header h1 {
    margin-top: 2%;
  }

  .mainImg a {
    display: none;
  }

  #header #spMenu .sideMenu li.menuttl {
    color: #fff;
    font-size: 18px;
    font-size: 1.125rem;
    padding: 4% 0 4% 7.15%;
  }

  .article {
    border-bottom: 1px solid #c3c3c3;
    padding: 0 0 6% 0;
    margin: 0 auto;
    margin-bottom: 6%;
    width: 90%;
  }
  .article h4 {
    float: left;
    font-size: 24px;
    font-size: 1.5rem;
    margin-bottom: 15px;
  }
  .article .date {
    float: right;
    font-size: 12px;
    font-size: 0.75rem;
  }
  .article .cate {
    color: #fff;
    background: #7dc6eb;
    display: block;
    width: 20%;
    padding: 0 1%;
    font-size: 12px;
    font-size: 0.75rem;
    text-align: center;
    margin-bottom: 5%;
  }
  .article img {
    width: 100%;
    float: none;
    margin-right: 0;
  }
  .article .blogtxt {
    font-size: 14px;
    font-size: 0.875rem;
    line-height: 1.7em;
    margin-top: 3%;
  }
  .article .blogtxt a {
    display: block;
    width: 210px;
    text-align: center;
    color: #fff;
    text-decoration: none;
    background: #003894;
    line-height: 1em;
    padding: 13px 0 15px;
    margin-top: 5%;
    margin-left: auto;
  }

  .article_deta {
    width: 90%;
    padding: 0 0 40px 0;
    margin: 0 auto;
    margin-bottom: 35px;
  }
  .article_deta h4 {
    float: left;
    font-size: 24px;
    font-size: 1.5rem;
    margin-bottom: 15px;
  }
  .article_deta .date {
    float: right;
    font-size: 12px;
    font-size: 0.75rem;
  }
  .article_deta img {
    width: 100%;
    float: none;
    margin-bottom: 5%;
  }
  .article_deta img:first-child {
    float: none;
  }
  .article_deta .detatxt {
    margin-top: 3%;
    line-height: 1.7em;
  }
	.linkTop span ,
	.backTop span {
		display:inline !important;
		padding:0 !important;
	}
	#header #spMenu {
		padding-top:0 !important;
	}
}
