@charset "UTF-8";
/*--------------------
	Mixin
--------------------*/
/*--------------------
	common
--------------------*/
body {
  font-family: "FOT-筑紫ゴシック Pr5 R", "メイリオ", Helvetica, "Hiragino Kaku Gothic Pro", "ヒラギノ角ゴ Pro W3", Meiryo, sans-serif;
  font-size: 15px;
  /*font-size: 1.1rem;*/
  line-height: 1.7em;
  color: #555;
}

.content a:visited {
    color: #551A8B ;
}

strong,
b{
    font-family: "FOT-筑紫ゴシック Pr5 D";
    }

.cf:after {
  content: "";
  clear: both;
  display: block;
}
.clear {
	clear:both;
}

.fll {
  float: left;
}

.flr {
  float: right;
}

.tbl {
  display: table;
}

.cell {
  display: table-cell;
}

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -o-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
}

.box-shadow {
  box-shadow: rgba(128, 128, 128, 0.2) 0px 0px 4px 4px;
}

.box-shadow-white {
  box-shadow: rgba(255, 255, 255, 0.2) 0px 0px 4px 4px;
}

.bdra_s {
  border-radius: 2px;
}

.bdra_m {
  border-radius: 4px;
}

.bdra_l {
  border-radius: 6px;
}

.textOverflow {
  overflow: hidden;
  width: 100%;
  height: 50px;
}

button {
  width: auto;
  padding: 0;
  margin: 0;
  background: #0d286f;
  border: 0;
  font-size: 0;
  line-height: 0;
  overflow: visible;
  cursor: pointer;
}

#header {
  width: 960px;
  margin: 0 auto;
  padding: 12px 0 25px 0;
}
#header h1 {
  width: 387px;
  float: left;
  margin-top: 15px;
}
#header #spBtn, #header #spMenu {
  display: none;
}
#header #nav {
  float: right;
  width: 365px;
}
#header #nav .nav_top {
  margin-bottom: 10px;
}
#header #nav ul {
  float: left;
}
#header #nav ul li {
  float: left;
  font-size: 0.8rem;
  margin-left: 25px;
}
#header #nav ul li:first-child {
  margin-left: 0;
}
#header #nav ul li:before {
  content: "\00203A";
  font-weight: bold;
  color: #0d286f;
  vertical-align: baseline;
  font-size: 19px;
  font-size: 1.1rem;
  margin-right: 10px;
}
#header #nav .logo {
  float: right;
  width: 140px;
  margin-top: 2px;
}
#header #nav a {
  text-decoration: none;
  color: #555;
}
#header #nav .search {
  float: left;
}
#header #nav input,
.search input {
  padding: 8px 0 5px 10px;
  border: none;
  border-radius: 5px 0 0 5px;
  color: #555;
  background: #e6e6e6;
  font-size: 12px;
  line-height: 1em;
  float: left;
  width: 160px;
}
#header #nav button ,
.search button {
  display: block;
  float: left;
  padding: 5px 12px 6px;
  border-radius: 0 5px 5px 0;
}
#header #nav .btn_inq ,
.search .btn_inq {
  font-size: 12px;
  font-size: 0.8rem;
  display: block;
  width: 150px;
  border-radius: 5px;
  line-height: 1em;
  padding: 7px 0;
  float: right;
  text-align: center;
  background: #00a6bf;
  color: #fff;
}
#header #nav .btn_inq span,
.search .btn_inq span {
  font-size: 15px;
  font-size: 1rem;
  margin-right: 8px;
}

.bg_menu {
  background: #e6e6e6;
  width: 100%;
  padding: 15px 0;
}
.menu_f {
    width:100%;
    padding:5px 0;
    background: #fff;
    }
.menu {
  width: 960px;
  margin: 0 auto;
}
.menu li {
  float: left;
  text-align: center;
  background: #fff;
  border-right:2px #e6e6e6 solid;
  width: 115px;
  line-height: 1em;
  position: relative;
}
.menu li.page_now ,
.menu li:hover {
	background:#0d286f;
}
.menu li.page_now a span ,
.menu li.page_now >a ,
.menu li:hover a span ,
.menu li:hover>a {
	color:#fff;
}
.menu li:first-child {
border-left:2px #e6e6e6 solid;
}
.menu li.pro {
  width: 156px;
}
.menu li.qua {
  width: 151px;
}
.menu li.hcg {
  width: 177px;
}
.menu li:first-child {
  margin-left: 0;
}
.menu li a {
  display: block;
  color: #555;
  text-decoration: none;
  text-align: center;
  border-bottom: 3px solid #0d286f;
  margin: 0 4px;
  padding: 10px 0;
  font-size: 14px;
  font-size: 0.875rem;
}
.menu li a span {
  color: #0d286f;
  font-weight: bold;
  display: block;
  font-size: 10px;
  font-size: 0.625rem;
  line-height: 1em;
  margin-top: 8px;
}
.menu li .innerMenu {
  display: none;
  position: absolute;
  top: 55px;
  left: 2px;
  width: 148px;
}
.menu li .innerMenu li {
  width: 148px;
  margin-left: 0;
  border:0;
}
.menu li .innerMenu li a {
  border-bottom: 2px solid #0d286f;
  text-align: left;
  padding-left: 15px;
}
.menu li .innerMenu li.page_now a:after ,
.menu li .innerMenu li a:after {
  content: "\00203A";
  position: absolute;
  font-size: 20px;
  font-size: 1.25rem;
  font-weight: bold;
  color: #0d286f;
  top: 8px;
  right: 14px;
}
.menu li .innerMenu li.page_now:hover a:after ,
.menu li .innerMenu li:hover a:after {
  color: #fff;
}
.menu li .innerMenu li:last-child a {
  border: none;
}

.bg_mainImg {
  background: #EDEDED;
}

.mainImg {
  max-width: 1200px;
  margin: 0 auto;
}

.mainImg_bg{
    width:100%;
    background:#0b2c79;
    }

.mainImg img {
  vertical-align: bottom;
}

.pankuzu {
  background: #ededed;
}
.pankuzu a:hover {
	text-decoration:underline;
}
.pankuzu ul {
  width: 960px;
  margin: 0 auto;
}
.pankuzu ul li {
  float: left;
  font-size: 12px;
  font-size: 0.75rem;
  line-height: 1em;
  padding: 15px 0;
}
.pankuzu ul li a {
  text-decoration: none;
  color: #555;
}
.pankuzu ul li span {
  margin: 0 15px 0 15px;
}

.content {
  margin-top: 50px;
}

/* 重要なお知らせ */
.column1 .notice {
  width: 960px;
  margin: 0 auto;
}
.column1 .notice h4 {
  background: #e71f19;
  color: #fff;
  font-size: 20px;
  font-size: 1.25rem;
  text-align: center;
  letter-spacing: 2px;
  padding: 10px 0;
  margin: 0;
  font-family: "FOT-筑紫ゴシック Pr5 D";
}
.column1 .notice h4 img {
  width: 26px;
  margin-right: 5px;
  vertical-align: text-bottom;
}
.column1 .notice p {
  font-size: 20px;
  font-size: 1.25rem;
  line-height: 1.6em;
  color: #e71f19;
  background: #fff;
  border: 2px solid #e71f19;
  border-top: none;
  font-weight: bold;
  padding: 10px 60px;
}

.column2 {
  width: 960px;
  margin: 0 auto;
  margin-top: 50px;
}
.column2:after {
  content: "";
  clear: both;
  display: block;
}
.column2 .sideMenu {
  float: left;
}
.column2 .sideMenu li {
  position: relative;
  padding-left: 15px;
  margin-bottom: 15px;
  font-size: 14px;
  font-size: 0.875rem;
  line-height: 1.7em;
}
.column2 .sideMenu li>ul {
	margin:20px 0 0 0.2em;
}
.column2 .sideMenu li.cat-item-エネルギー ,
.column2 .sideMenu li.cat-item-energy ,
.column2 .sideMenu li.cat-item-社会インフラ・防災 ,
.column2 .sideMenu li.cat-item-infrastructure ,
.column2 .sideMenu li.cat-item-都市・建築 ,
.column2 .sideMenu li.cat-item-city ,
.column2 .sideMenu li.cat-item-環境・地盤・測量 ,
.column2 .sideMenu li.cat-item-investigation ,
.column2 .sideMenu li.cat-item-補償業務 ,
.column2 .sideMenu li.cat-item-compensation ,
.column2 .sideMenu li.page_item_has_children {
  font-size: 20px !important;
  font-size: 0.8rem;
  line-height: 1em;
	margin-bottom:40px;
}
.column2 .sideMenu li.current-cat a ,
.column2 .sideMenu li.current_page_item a {
	color:#003894;
	font-family: "FOT-筑紫ゴシック Pr5 D";
}
.column2 .sideMenu li.current_page_item a {
  text-decoration: underline;
}
.column2 .sideMenu li.current-cat:before ,
.column2 .sideMenu li.current_page_item:before {
  content: "";
  display: block;
  width: 5px;
  height: 5px;
  background: #003894;
  position: absolute;
  top: 7px;
  left: 0;
  margin: auto;
}

.column2 .sideMenu li.cat-item-エネルギー:before ,
.column2 .sideMenu li.cat-item-energy:before {
	display:inline-block !important;
  width: 16px;
  height: 16px;
  content: url("../images/common/list_mark_o.png");
	background:#fff;
  position: relative;
  margin: auto 0.5em auto auto;
  top:0;
  bottom:0;
}
.column2 .sideMenu li.cat-item-社会インフラ・防災:before ,
.column2 .sideMenu li.cat-item-infrastructure:before {
	display:inline-block !important;
  width: 16px;
  height: 16px;
  content: url("../images/common/list_mark_p.png");
	background:#fff;
  position: relative;
  margin: auto 0.5em auto auto;
  top:0;
  bottom:0;
}
.column2 .sideMenu li.cat-item-都市・建築:before  ,
.column2 .sideMenu li.cat-item-city:before {
	display:inline-block !important;
  width: 16px;
  height: 16px;
  content: url("../images/common/list_mark_m.png");
	background:#fff;
  position: relative;
  margin: auto 0.5em auto auto;
  top:0;
  bottom:0;
}
.column2 .sideMenu li.cat-item-環境・地盤・測量:before  ,
.column2 .sideMenu li.cat-item-investigation:before {
	display:inline-block !important;
  width: 16px;
  height: 16px;
  content: url("../images/common/list_mark_g.png");
	background:#fff;
  position: relative;
  margin: auto 0.5em auto auto;
  top:0;
  bottom:0;
}
.column2 .sideMenu li.cat-item-補償業務:before  ,
.column2 .sideMenu li.cat-item-compensation:before,
.column2 .sideMenu li.page_item_has_children:before {
	display:inline-block !important;
  width: 16px;
  height: 16px;
  content: url("../images/common/list_mark.png");
	background:#fff;
  position: relative;
  margin: auto 0.5em auto auto;
  top:0;
  bottom:0;
}
.column2 .sideMenu li:before {
  content: "";
  display: block;
  width: 5px;
  height: 5px;
  background: #a8a8a8;
  position: absolute;
  top: 7px;
  left: 0;
  margin: auto;
}
.column2 .sideMenu li a {
  color: #555;
	text-decoration:none;
}
.column2 .sideMenu li a:hover {
  text-decoration:underline;
}
.column2 .sideMenu .linkTop {
  text-decoration: none;
}
.column2 .rightCont {
  float: right;
  width: 680px;
}
.column2 .rightCont .notice {
  width: 680px;
  margin: 0 auto;
}
.column2 .rightCont .notice h4 {
  background: #e71f19;
  color: #fff;
  font-size: 20px;
  font-size: 1.25rem;
  text-align: center;
  letter-spacing: 2px;
  padding: 10px 0;
  margin: 0;
  font-family: "FOT-筑紫ゴシック Pr5 D";
}
.column2 .rightCont .notice h4 img {
  width: 26px;
  margin-right: 5px;
  vertical-align: text-bottom;
}
.column2 .rightCont .notice p {
  font-size: 20px;
  font-size: 1.25rem;
  line-height: 1.6em;
  color: #e71f19;
  background: #fff;
  border: 2px solid #e71f19;
  border-top: none;
  font-weight: bold;
  padding: 10px 60px;
}

#footer {
  background: #ededec;
  margin-top: 90px;
}
#footer #pagetop {
  background: #555555;
  text-align: center;
  padding: 15px 0 20px 0;
  cursor: pointer;
}
#footer #pagetop img {
  width: 70px;
}
#footer .cf {
  width: 700px;
  margin: 35px auto 85px auto;
}
#footer .fodeta1 {
  float: left;
  font-size: 14px;
  font-size: 0.875rem;
  line-height: 1.4em;
}
#footer .fodeta1 h5 {
  font-weight: normal;
  font-size: 16px;
  font-size: 1rem;
  margin-bottom: 10px;
}
#footer .fodeta2 {
  float: right;
  font-size: 14px;
  font-size: 0.875rem;
  line-height: 1.4em;
}
#footer .fodeta2 h5 {
  font-weight: normal;
  font-size: 16px;
  font-size: 1rem;
  margin-bottom: 10px;
}
#footer .copy {
  background: #003894;
  color: #fff;
  text-align: center;
  font-size: 10px;
  font-size: 0.625rem;
  padding: 12px 0;
}

a.pdfLink:visited {
  color: #7993bf;
}

/*--------------------
	パーツ
--------------------*/
h1.page-title,
.entry-header h1 {
  font-size: 24px;
  font-size: 1.5rem;
  line-height: 1em;
  color: #555555;
  font-weight: normal;
  position: relative;
  padding: 20px 0 20px 70px;
  margin-bottom: 20px;
  font-family: "FOT-筑紫ゴシック Pr5 D";
  background: #ededed;
}
h1.page-title a {
	color: #003894;
	text-decoration:underline;
}
.entry-content h1 {
  font-size: 24px;
  font-size: 1.5rem;
  line-height: 1em;
  color: #555555;
  font-weight: normal;
  position: relative;
  padding-left: 50px;
  margin-bottom: 20px;
  font-family: "FOT-筑紫ゴシック Pr5 D";
}

h1.page-title:before,
.entry-header h1:before,
.entry-content h1:before {
  content: "";
  position: absolute;
  display: block;
  width: 30px;
  height: 6px;
  background: #003894;
  border-radius: 3px;
  top: 0;
  bottom: 0;
  left: 20px;
  margin: auto;
}

.hentry > ul > li {
  color: #003894;
  font-size: 20px;
  font-size: 1.25rem;
  margin-bottom: 30px;
}

.hentry > ul > li:before {
  content: url("../images/common/list_mark.png");
}

.hentry > ul > li > ul {
  margin-left: 20px;
}

h2 {
  color: #003894;
  font-size: 20px;
  font-size: 1.375rem;
  letter-spacing: 2px;
  line-height: 1.5em;
  font-weight: normal;
  padding: 2px 12px 5px;
  margin-bottom: 30px;
  text-align: left;
  border-bottom: 2px #003894 solid;
  border-left: 8px #003894 solid;
  font-family: "FOT-筑紫ゴシック Pr5 D";
}
h2 a {
	color:#fff;
}

h3 {
  font-size: 22px;
  font-size: 1.375rem;
  font-weight: normal;
  margin: 10px 0 15px;
  position: relative;
  font-family: "FOT-筑紫ゴシック Pr5 D";
  padding-left:22px;
}
h3 a {
	color:#575757;
	text-decoration:underline;
}
h3 a:hover {
	text-decoration:none;
}
h3:before {
  content: url("../images/common/list_mark.png");
  margin-right: 20px;
    display: block;
    position: absolute;
    top: 0px;
    left: 0;
    margin: auto;
}

h4 {
  font-size: 18px;
  font-size: 1.125rem;
  margin: 10px 0 5px;
  font-family: "FOT-筑紫ゴシック Pr5 D";
}

.tantou {
	border:4px solid #ededed;
	width:100%;
	padding:1.5em;
	margin-bottom:2.5em;
}

.tantou h4 {
	font-size:1rem;
	font-weight:bold;
	line-height:1.7em;
	padding-bottom:0.3em;
	border-bottom:2px solid #d8d8d8;
	margin:0 0 0.5em;
}
.tantou span {
	margin-right:1em;
}
.tantou div {
}


.entryCont p {
  font-size: 20px;
  font-size: 1.25rem;
	text-indent:-1.5em;
	margin-left:1.5em;
  margin-bottom: 20px;
}

.entryCont p:before {
  content: url("../images/common/list_mark.png");
  padding-right: 15px;
}

.column2 .entryCont > p ,
.column2 .entryCont > div > div:not(.dl_pdf) {
  width: 500px;
}

.entryCont > div > div {
  width: 820px;
  line-height: 1.7em;
  margin-bottom: 30px;
  float: left;
}

.entryCont .dl_pdf {
  float: right;
  text-align: center;
  width: 122px;
  margin: -40px 0 0 15px;
}

.entryCont .dl_pdf img {
  vertical-align: bottom;
  margin-bottom: 10px;
  border: 1px solid #a8a8a8;
}

.entryCont .dl_pdf a img {
  border: 0;
}

.entryCont .dl_pdf img.spPdf {
  display: none;
}

.entryCont .size {
  font-size: 12px;
  font-size: 0.75rem;
  line-height: 1em;
  color: #003894;
  font-weight: bold;
  float: none;
}

.entryCont .size:before {
  content: "";
  padding-right: 0;
}

.achList {
  border: 5px solid #ededed;
  padding: 20px 30px;
  position: relative;
  width: 680px;
  margin-bottom: 30px;
}

.achList.no_right .fll ,
.index-article.no_right .fll {
	min-height:auto !important;
	width:100% !important;
}
.column2 .achList .fll ,
.column2 .index-article .fll {
	width: 400px;
}
.column1 .achList .fll ,
.column1 .index-article .fll {
	width: 600px;
}

.achList h2 ,
.index-article h2 {
	text-align:left;
    border:0;
}
.achList h2 a ,
.index-article h2 a { color:#003894;}
.achList h2 a:hover ,
.index-article h2 a:hover { text-decoration:none;}

.achList .btn_deta2 p {
	width:190px;
	height:110px;
	overflow:hidden;
	background-position: center center;
	background-repeat: no-repeat;
	background-size: cover;
	-moz-background-size:cover;
}

.achList .classification {
  font-size: 12px;
  font-size: 0.75rem;
  color: #fff;
  background: #8abfd5;
  padding: 5px 10px;
  line-height: 1em;
}

.achList h2 {
  font-size: 18px;
  font-size: 1.125rem;
  background: none;
  color: #003894;
  padding: 0;
  margin: 15px 0 5px;
}

.achList h2:before {
 
  padding-right: 15px;
}

.achList .fiscal_year,
.achList .client {
  font-size: 12px;
  font-size: 0.75rem;
  line-height: 1em;
}

.achList .btn_deta2 {
  font-size: 16px;
  font-size: 1rem;
  line-height: 1em;
  width: 190px;
  height: 151px;
  text-align: center;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 30px;
  margin: auto;
}

.achList .btn_deta2 img {
  vertical-align: bottom;
}

.achList .btn_deta2 a {
  display: block;
  background: #003894;
  text-decoration: none;
  color: #fff;
  padding: 12px 0;
}

.achList .btn_deta2 span {
  vertical-align: text-top;
  padding-right: 10px;
  font-weight: bold;
}

.index-article {
  border: 5px solid #ededed;
  padding: 20px 20px;
  position: relative;
  width: 660px;
  margin-bottom: 30px;
}

.index-article .classification span {
  font-size: 12px;
  font-size: 0.75rem;
  color: #fff;
  background: #8abfd5;
  padding: 5px 10px;
  line-height: 1em;
	margin-left:0.5em;
}
.index-article .classification span:first-child {
	margin-left:0;
}
/* エネルギー */
.index-article .classification .id_2 {
  background: #ec995c;
}
/* 社会インフラ・防災 */
.index-article .classification .id_3 {
  background: #da88b8;
}
/* 都市・建築 */
.index-article .classification .id_4 {
  background: #66aac6;
}
/* 環境・地盤・測量 */
.index-article .classification .id_5 {
  background: #7ec24b;
}
/* 補償調査 */
.index-article .classification .id_6 {
  background: #8a98d5;
}
.index-article h2 {
  background: none;
  color: #003894;
  padding: 0;
  margin: 0.2em 0;
}
.index-article .txt {
	margin-bottom:0.5em;
}

.index-article h2:before {
  padding-right: 15px;
}

.index-article .fiscal {
  font-size: 12px;
  font-size: 0.75rem;
  line-height: 1em;
}
.index-article .fiscal span {
	margin:0 0.2em;
}
.index-article .fll {
	width:400px;
}
.index-article .flr p {
	width:190px;
	height:110px;
	overflow:hidden;
	background-position: center center;
	background-repeat: no-repeat;
	background-size: cover;
	-moz-background-size:cover;
}
.index-article .btn_deta {
  font-size: 16px;
  font-size: 1rem;
  line-height: 1em;
  width: 190px;
  height: 41px;
  text-align: center;
  margin: auto;
}

.index-article .btn_deta a {
  display: block;
  background: #003894;
  text-decoration: none;
  color: #fff;
  padding: 12px 0;
}

.index-article .btn_deta span {
  vertical-align: text-top;
  padding-right: 10px;
  font-weight: bold;
}

.index-article .btn_deta2 {
  font-size: 16px;
  font-size: 1rem;
  line-height: 1em;
  width: 190px;
  height: 151px;
  text-align: center;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 30px;
  margin: auto;
}

.index-article .btn_deta2 img {
  vertical-align: bottom;
}

.index-article .btn_deta2 a {
  display: block;
  background: #003894;
  text-decoration: none;
  color: #fff;
  padding: 12px 0;
}

.index-article .btn_deta2 span {
  vertical-align: text-top;
  padding-right: 10px;
  font-weight: bold;
}

.nttl h4 span {
  color: #00a6bf;
  font-size: 30px;
  font-size: 1.875rem;
  vertical-align: middle;
  padding-right: 20px;
}

.numCont {
  margin-bottom: 40px;
}
.numCont li {
	border:4px solid #ededed;
	padding:25px;
	margin-bottom:55px;
	position:relative;
}
.numCont li:after {
	content:'';
	border-top:solid 25px #0b2c79;
	border-bottom:solid 25px transparent;
	border-right:solid 25px transparent;
	border-left:solid 25px transparent;
	left:48%;
	bottom:-70px;
	position:absolute;
}
.numCont li:last-child:after {
	border-top:solid 25px transparent;
	border-bottom:solid 25px transparent;
	border-right:solid 25px transparent;
	border-left:solid 25px transparent;
}
.numCont li p.sub {
	font-size:0.8em;
}
.numCont li dl {
	border-bottom:2px solid #0b2c79;
	padding-bottom:0.3em;
	margin-bottom:1em;
}
.numCont li dt {
	display:table-cell;
	vertical-align:top;
}
.numCont li dt p {
	margin:0;
	width:auto;
	color:#fff;
	display:inline;
	font-size:1rem;
	line-height:2em;
	padding:0.4em 0.7em;
	background:#0b2c79;
	margin-right:0.3em;
}
.numCont li dd {
	display:table-cell;
	vertical-align:top;
}
.numCont li h4 {
	width:auto;
	margin:0;
	line-height:1.7em;
	font-size:1.3rem;
}
.numCont li .thumb {
	background:#999;
	max-width:220px;
	height:auto;
	float:left;
	margin:0 1em 0.5em 0;
}
/*.numCont li {
	float:left;
}


.numCont .numBox {
  color: #fff;
  background: #003894;
  font-size: 18px;
  font-size: 1.125rem;
  line-height: 1em;
  float: left;
  padding: 20px;
  margin-right: 20px;
}

.numCont .detaBox {
  width: 880px;
  border: 4px solid #ededed;
  padding: 30px 30px 0;
  float: left;
	position:relative;
	z-index:2;
}
.numCont .detaBox.deta_after:after {
	content:'';
	width:117px;
	height:31px;
	position:absolute;
	right:10%;
	top:100%;
	z-index:1;
  background: url("../images/proposal/img_detabox.png") no-repeat left bottom;
}
.numCont .detaBox .flr {
  width: 580px;
	margin-bottom:30px;
}
.numCont .detaBox div:not(.flr):not(.fll) {
	margin-bottom:30px;
}
.numCont .detaBox .fll img {	max-width:210px; height:auto; vertical-align:middle;}

.numCont .detaBox h3 {
  font-size: 20px;
  font-size: 1.25rem;
  line-height: 1.7em;
  border-bottom: 2px solid #0d286f;
	padding-left:0;
  padding-bottom: 8px;
	margin:0 0 1em;
}

.column2 .numCont {	width:685px;}
.column2 .numCont .detaBox { width:610px;}
.column2 .numCont .flr {	width:310px;}

.numCont .detaBox h3:before {
  display: none;
}
*/
.inq h3 {
  font-size: 18px;
  font-size: 1.125rem;
  line-height: 1em;
  color: #fff;
  background: #003894;
  padding: 15px 15px 13px;
}

.inq h3:before {
  display: none;
}

.inq p {
  line-height: 1.7em;
  margin-bottom: 45px;
}

.inq .tel {
  float: left;
}

.inq .tel h4 {
  font-size: 20px;
  font-size: 1.25rem;
  margin-bottom: 0;
}

.inq .tel h4:before {
  content: url("../images/common/inq_mark.png");
  margin-right: 15px;
}

.inq .tel p {
  font-size: 40px;
  font-size: 2.5rem;
  margin-top: 10px;
}

.inq .tel p:before {
  content: url("../images/common/tel_mark.png");
  margin-right: 10px;
  vertical-align: middle;
}

.inq .website {
  float: left;
  margin-left: 100px;
}

.inq .website h4 {
  font-size: 20px;
  font-size: 1.25rem;
  margin-bottom: 0;
}

.inq .website h4:before {
  content: url("../images/common/inq_mark.png");
  margin-right: 15px;
}

.inq .website a {
  font-size: 18px;
  font-size: 1.125rem;
  display: block;
  background: #00a6bf;
  color: #fff;
  text-align: center;
  text-decoration: none;
  padding: 15px 0;
  margin-top: 20px;
}

.inq .hgc h4 {
  font-size: 14px;
  font-size: 0.875rem;
  font-weight: normal;
  margin-bottom: 0;
}

.inq .hgc p {
  font-size: 40px;
  font-size: 2.5rem;
  line-height: 1em;
  margin-top: 5px;
}

.inq .hgc p:before {
  content: url("../images/common/free_mark.png");
  vertical-align: bottom;
  margin-right: 5px;
}

.infoArea {
  width: 680px;
  margin-bottom: 30px;
  position: relative;
}

.infoArea .newsList {
  position: absolute;
  font-size: 14px;
  font-size: 0.875rem;
  top: 0;
  right: 0;
}

.infoArea .newsList span {
  color: #00a6bf;
  margin-right: 10px;
  font-size: 20px;
  font-size: 1.25rem;
  font-weight: bold;
}

.infoArea .newsList a {
  text-decoration: none;
  color: #555;
}

.infoArea h4 {
  font-weight: normal;
  letter-spacing: 3px;
  font-size: 20px;
  font-size: 1.25rem;
  line-height: 1em;
  background: url("../images/common/news_line.jpg") no-repeat left bottom;
  padding-bottom: 20px;
  margin-bottom: 20px;
}

.infoArea h4 span {
  color: #00a6bf;
}

.infoArea h4 span.news {
  font-size: 14px;
  font-size: 0.875rem;
  letter-spacing: 1px;
}

.infoArea dl {
  font-size: 14px;
  font-size: 0.875rem;
}

.infoArea dl dt {
  float: left;
  margin-bottom: 15px;
}

.infoArea dl dt span {
  display: inline-block;
  width: 120px;
  text-align: center;
  border-radius: 3.5em;
  color: #fff;
  margin-left: 30px;
}
.infoArea dl dt span.icon会社案内 ,
.infoArea dl dt span.iconNews {
  background: #7893c0;
}

.infoArea dl dt span.iconセミナー情報 ,
.infoArea dl dt span.iconEvent {
  background: #da88b8;
}

.infoArea dl dt span.icon建築設計 {
  background: #e6b673;
}

.infoArea dl dt span.icon採用情報 {
  background: #7dc3cd;
}

.infoArea dl dd {
  margin-bottom: 15px;
  position: relative;
}
.infoArea a {
	color:#333;
}
.infoArea a:hover {
	text-decoration:underline;
}
.infoArea dl dd span {
  display: block;
  padding-left: 30px;
  width: 420px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.infoArea dl dd div {
  position: absolute;
  top: 0;
  right: 0;
  line-height: 1em;
  font-size: 20px;
  font-size: 1.25rem;
}

.qa #acMenu {
  width: 680px;
}

.qa #acMenu dt {
  background: #ededed;
  margin-top: 20px;
  position: relative;
  padding: 20px 60px;
}

.qa #acMenu dt > img {
  position: absolute;
  width: 20px;
  height: 28px;
  top: 0;
  left: 23px;
  bottom: 0;
  margin: auto;
}

.qa #acMenu dt .arrow {
  width: 26px;
  height: 26px;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 15px;
  margin: auto;
}

.qa #acMenu dd {
  display: none;
  position: relative;
  padding: 15px 60px;
  border: 5px solid #ededed;
  border-top: none;
}

.qa #acMenu dd img {
  width: 20px;
  height: 22px;
  position: absolute;
  top: 15px;
  left: 23px;
}

.policy h4.tit {
  background: #ededed;
  font-weight: normal;
  padding: 15px;
}

.policy h5 {
  margin-bottom: 5px;
}

.policy p {
  margin-bottom: 30px;
}

.table1 {
  width: 680px;
	margin-bottom:50px;
}

.table1 th {
  width: 200px;
  background: #ddd;
  border-top: 2px solid #fff;
  text-align: left;
  vertical-align: top;
  padding: 15px;
  font-weight: normal;
}

.table1 td {
  width: 480px;
  background: #f1f1f1;
  border-top: 2px solid #c5c5c5;
  text-align: left;
  padding: 15px 20px 15px 20px;
}

.table1 tr:first-child th,
.table1 tr:first-child td {
  border-top: none;
}

.office {
  margin-bottom: 40px;
}

.office_area h4 ,
.office h4 {
  font-size: 24px;
  font-size: 1.5rem;
  font-weight: normal;
  position: relative;
  padding-left: 40px;
	margin-bottom:1em;
}

.office_area h4:before ,
.office h4:before {
  content: "";
  background: #003894;
  display: block;
  width: 20px;
  height: 6px;
  border-radius: 3px;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  margin: auto;
}

.office div p {
  float: left;
  line-height: 1.7em;
}

.office .gmap {
  float: left;
  margin-left: 15px;
}

.office .gmap a {
  color: #003894;
  font-size: 12px;
  font-size: 0.75rem;
  text-decoration: none;
  display: block;
  text-align: right;
}
.office .gmap a:hover {
	text-decoration:underline;
}

.table2 {
  width: 680px;
  border-collapse: collapse;
	margin-bottom:50px;
}
.table2 caption {
	text-align:right;
	font-size:0.9rem;
	margin-bottom:0.6em;
}
.table2 th {
  text-align: left;
  background: #f1f1f1;
  border: 2px solid #c5c5c5;
  font-weight: normal;
  padding: 15px 0 15px 40px;
}

.table2 td {
  width: 165px;
  text-align: center;
  background: #f1f1f1;
  border: 2px solid #c5c5c5;
}

.closing {
  margin-bottom: 30px;
}

.closing h3 {
  font-weight: bold;
  font-size: 20px;
  font-size: 1.25rem;
  margin-bottom: 15px;
}

.closing .dl_pdf {
  float: left;
  margin-left: 15px;
  color: #003894;
}

.closing .dl_pdf img {
  vertical-align: middle;
  margin-right: 10px;
}

.closing .dl_pdf img.sppsd {
  display: none;
}

.page-title2 {
  font-size: 24px;
  font-size: 1.5rem;
  line-height: 1em;
  color: #555555;
  font-weight: normal;
  position: relative;
  padding-left: 50px;
  margin-bottom: 40px;
}

.page-title2:before {
  content: "";
  position: absolute;
  display: block;
  width: 30px;
  height: 6px;
  background: #003894;
  border-radius: 3px;
  top: 0;
  bottom: 0;
  left: 0;
  margin: auto;
}

.facility {
  width: 680px;
  margin-bottom: 40px;
}

.facility p {
  font-size: 18px;
  font-size: 1.125rem;
  line-height: 1.7em;
}

.panf li {
  text-align: center;
  float: left;
  width: 200px;
  margin-left: 40px;
}

.panf li:first-child ,
.panf li:nth-child(3n+1) {
  margin-left: 0;
}

.panf li p {
  line-height: 1em;
  font-size: 16px;
  font-size: 1rem;
  margin: 10px 0 10px 0;
}

.panf li p.dl_pdf {
  line-height: 1em;
  font-size: 14px;
  font-size: 0.875rem;
  line-height: 1.4em;
}

.panf li p.dl_pdf a {
  text-decoration: none;
}

.panf .dl_pdf .sppsd {
  display: none;
}

.hydro li {
  float: left;
  margin: 0 0 30px 30px;
  width: 350px;
}

.hydro li:first-child {
  margin-left: 0;
}

.hydro li img {
  vertical-align: bottom;
}

.hydro li p {
  font-size: 20px;
  font-size: 1.25rem;
  text-align: center;
  border-top: 2px solid #00a6bf;
  margin-top: 14px;
  padding-top: 14px;
}

.enq {
  width: 960px;
  border: 20px solid #ededed;
  padding: 25px 20px;
}

.enq .fll {
  width: 590px;
}

.enq h4 {
  color: #003894;
  letter-spacing: 1px;
  margin-bottom: 15px;
  font-size: 18px;
  font-size: 1.125rem;
}

.enq p {
  font-size: 14px;
  font-size: 0.875rem;
  line-height: 1.6em;
}

.ans {
  border: 5px solid #ededed;
  background: #ededed;
  width: 960px;
  padding: 20px 0 0;
  margin-bottom: 40px;
}

.ans h4 {
  font-size: 16px;
  font-size: 1rem;
  line-height: 1.5em;
  text-indent: -1.3em;
  padding-left: 1.3em;
  padding-top: 20px;
  border-top: 2px solid #d8d8d8;
  margin: 0 25px 20px;
}

.ans h4:first-child {
  border-top: none;
  padding-top: 0;
}

.ans h4 span {
  font-family: Osaka,"ＭＳ Ｐゴシック","MS PGothic",Sans-Serif;
  margin-right: 0.3em;
}

.ans .comment {
  font-size: 14px;
  font-size: 0.875rem;
  line-height: 1.7em;
  background: #fff;
  padding: 20px 25px;
}

.ans .comment .name {
  text-align: right;
  font-size: 16px;
  font-size: 1rem;
  font-weight: bold;
  border-top: 2px solid #d8d8d8;
  margin-top: 10px;
  padding-top: 10px;
}

.ans .comment .name span {
  text-align: right;
  font-size: 12px;
  font-size: 0.75rem;
  font-weight: normal;
  margin-right: 15px;
}

.table3 {
  width: 760px;
  margin-bottom: 2em;
  font-size: 16px;
  font-size: 1rem;
}

.table3 th {
  background: #dddddd;
  border-left: 2px solid #fff;
  text-align: center;
  padding: 15px 0;
  font-weight: normal;
	vertical-align:middle;
}

.table3 th:first-child {
  border-left: none;
  font-weight: bold;
}

.table3 td {
  background: #f1f1f1;
  border-left: 2px solid #c5c5c5;
  text-align: center;
  padding: 15px 0;
  font-weight: normal;
	vertical-align:middle;
}

.table3 td:first-child {
  border-left: none;
  font-weight: bold;
}

.table4 {
  width: 100%;
  margin-bottom: 30px;
  font-size: 16px;
  font-size: 1rem;
  border-collapse: collapse;
}
.table4 th.jigyo {
	width:46%;
}
.table4 th.hachu {
	width:26%;
}
.table4 th.nendo {
	width:20%;
}
.table4 th ,
.table4 td {
	font-weight:normal;
	text-align:left;
	vertical-align:middle;
	padding:1em 2%;
  background: #f1f1f1;
  border: 2px solid #c5c5c5;
}
.table4 td {
}

.seminar {
  width: 682px;
  border: 4px solid #e6e6e5;
  padding: 20px 30px;
}

.seminar h3 {
  font-size: 20px;
  font-size: 1.25rem;
  font-weight: normal;
  letter-spacing: 1px;
  background: url("../images/common/news_line.jpg") no-repeat left bottom;
  padding-bottom: 10px;
  margin-bottom: 20px;
}

.seminar h3 span {
  color: #00a6bf;
  margin-left: 20px;
  letter-spacing: 0px;
}

.seminar h3 span:last-child {
  margin-left: 10px;
  font-size: 14px;
  font-size: 0.875rem;
}

.seminar h3:before {
  display: none;
}

.seminar h4 {
  color: #00a6bf;
  font-weight: normal;
  margin-bottom: 10px;
}

.seminar a {
  display: block;
  float: right;
  color: #555;
  background: #e6e6e5;
  width: 200px;
  text-align: center;
  text-decoration: none;
  line-height: 1em;
  padding: 8px 0;
  border-radius: 15px;
  margin-top: 8px;
}

.pc-hide_table {
  display: none;
}

.sp-hide_table {
  display: table;
}
.oshirase .centerCont li:first-child ,
.search-results .centerCont li:first-child {
	border-top:none;
	padding-top:0;
}
.single-post .entry-header p,
.oshirase .entry-footer p {
	font-size:0.9rem;
	margin-bottom:0.5em;
	display:inline-block;
}
.single-post .entry-header .post-categories,
.oshirase .entry-footer .post-categories {
	display:inline-block;
}
.single-post .entry-header .post-categories li,
.oshirase .entry-footer .post-categories li {
	display:inline-block;
}
.single-post .entry-header .post-categories li:after,
.oshirase .entry-footer .post-categories li:after {
	content:'、';
}
.single-post .entry-header .post-categories li:last-child:after ,
.oshirase .entry-footer .post-categories li:last-child:after {
	content:'';
}
.single-post .entry-header .post-categories,
.oshirase .entry-footer .post-categories {
}
.oshirase .centerCont h3 ,
.search-results .centerCont h3 {
	margin-bottom:1em;
}
.oshirase .centerCont li ,
.search-results .centerCont li {
	border-top:1px solid #aeaeae;
	padding:35px 0;
}
.oshirase .entry-footer ,
.search-results .entry-footer {
	margin-top:1em;
}
.detail_data {
	margin-top:1em;
	text-align:right;
	font-size:0.85rem;
}
.detail_data a,
.nav-links a,
.entry-summary a,
.entry-footer a {
	color:#003894;
	text-decoration:underline;
}
.detail_data a:hover,
.nav-links a:hover,
.entry-summary a:hover,
.entry-footer a:hover {
	text-decoration:none;
}
.structural-design-p.rightCont {
	float:none;
	margin-left:auto;
	margin-right:auto;
}

.office_area { margin-bottom:3em;}
.office_area .address {
	width:80%;
	float:left;
}

.office_area .map {
	width:10%;
	text-align:right;
	float:right;
}
.office_area table {
	width:100%;
  font-size: 16px;
  font-size: 1rem;
  border-collapse: collapse;
	margin:1em 0 3em;
}
.office_area th {
	width:26%;
}
.office_area td {
	width:66%;
}

.office_area th ,
.office_area td {
	font-weight:normal;
	text-align:left;
	vertical-align:top;
	padding:1em 2%;
  background: #f1f1f1;
  border: 2px solid #c5c5c5;
}

ul.links {
  width: 680px;
  margin-left: -10px;
}

ul.links li {
  width: 328px;
  height: 82px;
  float: left;
  margin: 0 0 16px 10px;
  padding: 2px;
  border: 2px solid #c3c3c3;
}

ul.links li a {
  display: block;

}



/*--------------------
	スマホ用
--------------------*/
@media screen and (max-width: 768px) {
  img {
    width: 100%;
  }

  h3:before {
    margin-right: 2%;
  }

  .page-title {
    padding-left: 10%;
  }

  .achList {
    padding: 3.125% 4.6%;
    position: relative;
    width: 90%;
    margin: 0 auto;
  }

  .achList .fll {
    width: 50%;
  }

  .achList h2 {
    font-size: 16px;
    font-size: 1rem;
  }

  .achList h2:before {
    padding-right: 5%;
  }

  .achList .btn_deta2 {
    width: 40%;
    right: 4.6%;
    top: 15%;
    margin: 0;
    font-size: 12px;
    font-size: 0.75rem;
  }

  .entry ul li {
    padding-left: 7%;
  }

  .tantou {
    width: 90%;
		margin-left:auto;
		margin-right:auto;
  }

  .entryCont {
    width: 90%;
    margin: 0 auto;
  }
	
.column2 .entryCont > p {
	width:85%;
}
.column2 .entryCont > div > div:not(.dl_pdf) {
  width: 100%;
}

  .entryCont p:before {
    padding-right: 3%;
  }

  .entryCont > div > div {
    width: 100%;
  }

  .entryCont .dl_pdf {
    width: 100%;
    margin: 0;
    float: none;
  }

  .entryCont .dl_pdf img {
    display: none;
  }

  .entryCont .dl_pdf img.spPdf {
    display: block;
  }

  .entryCont .size {
    font-size: 20px;
    font-size: 1.25rem;
  }

  .index-article {
    width: 90%;
    margin: 0 auto 2em;
    padding: 5.125% 4.6%;
  }

  .index-article .fll {
		width:100% !important;
		padding:0;
    float: none;
  }

  .index-article h2:before {
    padding-right: 3%;
  }
  .index-article .flr {
		float:none;
	}
	
	.index-article .flr p {
	width:100%;
	height:4em;
	overflow:hidden;
	background-position: center center;
	background-repeat: no-repeat;
	background-size: cover;
	-moz-background-size:cover;
}

  .index-article .btn_deta {
    position: static;
    width: 87%;
    margin-top: 3%;
  }

  .index-article .btn_deta2 {
    position: static;
    margin-top: 3%;
    height: auto;
    width: 87%;
  }

  .index-article .classification {
    font-size: 16px;
    font-size: 1rem;
    padding: 2% 3%;
  }

  .index-article .fiscal_year,
  .index-article .client {
    font-size: 14px;
    font-size: 0.875rem;
  }

  .nttl {
    width: 90%;
    margin: 0 auto;
  }

  .nttl h4 span {
    padding-right: 3%;
  }
/*	.column2 .numCont,
  .numCont {
    width: 90%;
    margin: 0 auto 1.5em;
  }

  .column2 .numBox ,
  .numCont .numBox {
    width: 13%;
    margin: 0;
    padding: 18px 0;
    text-align: center;
  }
  .numCont .detaBox:before ,
  .numCont .detaBox:after  {
		background-image: none;
	}
  .column2 .numCont .detaBox ,
  .numCont .detaBox {
    width: 82%;
    float: right;
  }

  .numCont .detaBox .flr {
    width: 100%;
  }

	.numCont .detaBox .fll img {
		max-width:100%;
		margin-bottom:1em;
	}
  .numCont .detaBox h3 {
    width: 100%;
    margin-bottom: 4%;
    padding-bottom: 2.5%;
  }

  .numCont .detaBox p {
    font-size: 16px;
    font-size: 1rem;
    line-height: 1.5em;
    margin-bottom: 5%;
  }

  .numCont .detaBox .flr {
    float: none;
  }*/
.numCont {
  margin-bottom: 3em;
}
.numCont li {
	width:88%;
	border:4px solid #ededed;
	padding:0.5em 4%;
	margin:0 auto 3.5em;
	position:relative;
}
.numCont li:after {
	content:'';
	border-top:solid 1.5em #0b2c79;
	border-bottom:solid 1.5em transparent;
	border-right:solid 1.5em transparent;
	border-left:solid 1.5em transparent;
	left:45%;
	bottom:-4.3em;
	position:absolute;
}
.numCont li:last-child:after {
	border-top:solid 25px transparent;
	border-bottom:solid 25px transparent;
	border-right:solid 25px transparent;
	border-left:solid 25px transparent;
}
.numCont li p.sub {
	font-size:0.8em;
}
.numCont li .thumb {
	background:#999;
	max-width:100%;
	height:auto;
	float:none;
	margin:0 1em 0.5em 0;
}


  .inq {
    width: 90%;
    margin: 0 auto;
  }

  .inq h3 {
    width: 100%;
  }

  .inq p {
    font-size: 16px;
    font-size: 1rem;
    line-height: 1.5em;
  }

  .inq .tel {
    float: none;
  }

  .inq .tel h4 {
    font-size: 18px;
    font-size: 1.125rem;
  }

  .inq .tel h4:before {
    margin-right: 3%;
  }

  .inq .tel p {
    font-size: 35px;
    font-size: 2.1875rem;
  }

  .inq .website {
    float: none;
    margin: 0;
  }

  .inq .website h4 {
    font-size: 18px;
    font-size: 1.125rem;
  }

  .inq .website h4:before {
    margin-right: 3%;
  }

  .inq .hgc {
    margin-top: 5%;
  }

  .inq .hgc p {
    font-size: 35px;
    font-size: 2.1875rem;
  }

  .infoArea {
    width: 90%;
    margin: 0 auto;
  }

  .infoArea h4 {
    padding-bottom: 4%;
    margin-bottom: 4%;
    letter-spacing: 0px;
  }

  .infoArea dl dt {
    margin-bottom: 2%;
  }

  .infoArea dl dd {
    border-bottom: 2px solid #e2e1e0;
    padding-bottom: 2%;
  }

  .infoArea dl dd span {
    width: 100%;
    padding: 0;
  }

  .infoArea dl dd div {
    top: auto;
    bottom: 18%;
  }

  .qa {
    width: 90%;
    margin: 0 auto;
  }

  .qa #acMenu {
    width: 100%;
  }

  .policy {
    width: 90%;
    margin: 0 auto;
  }


  .table1 {
    width: 95%;
    margin: 0 auto;
  }

  .table1 td {
    padding-left: 5%;
  }

  .office {
    width: 90%;
    margin: 0 auto;
  }

  .office div p {
    float: none;
    font-size: 16px;
    font-size: 1rem;
    line-height: 1.5em;
  }

  .office h4 {
    padding-left: 8%;
  }

  .office .gmap {
    width: 100%;
    float: none;
    margin: 4% 0 0 0;
  }

  .office .gmap iframe {
    width: 100%;
  }

  .office .gmap a {
    font-size: 16px;
    font-size: 1rem;
  }


.office_area{
	width:90%;
	margin:0 auto;
}
.office_area .address {
	width:80%;
	float:left;
}

.office_area .map {
	width:10%;
	text-align:right;
	float:right;
}
.office_area img {
	max-width:1.5em;
	height:auto;
}

  .table2 {
    width: 90%;
    margin: 0 auto;
  }

  .page-title2 {
    padding-left: 12%;
  }

  .closing {
    width: 90%;
    margin: 0 auto;
  }

  .closing .fll {
    float: none;
    padding-left: 7.5%;
    font-size: 16px;
    font-size: 1rem;
    margin-bottom: 4%;
  }

  .closing .dl_pdf {
    float: none;
    text-align: center;
    font-size: 20px;
    font-size: 1.25rem;
  }

  .closing .dl_pdf img {
    display: none;
  }

  .closing .dl_pdf img.sppsd {
    display: block;
    margin-bottom: 2%;
  }

  .facility {
    width: 90%;
    margin: 0 auto;
  }

  .panf {
    width: 90%;
    margin: 0 auto;
  }

  .panf li {
    float: none;
    margin: 0;
    width: 100%;
    margin-bottom: 5%;
  }

  .panf li > img {
    width: 50%;
    text-align: center;
  }

  .panf li p {
    font-size: 20px;
    font-size: 1.25rem;
    padding-bottom: 2%;
  }

  .panf li p.dl_pdf {
    font-size: 20px;
    font-size: 1.25rem;
    color: #003894;
  }

  .panf .dl_pdf img {
    display: none;
  }

  .panf .dl_pdf .sppsd {
    display: inline;
  }

  .hydro {
    width: 90%;
    margin: 0 auto;
  }

  .hydro li {
    float: none;
    margin: 0;
    width: 100%;
    margin-bottom: 5%;
  }

  .hydro li p {
    font-size: 20px;
    font-size: 1.25rem;
  }

  .enq {
    width: 90%;
    margin: 0 auto;
  }

  .enq .fll {
    float: none;
    width: 100%;
  }

  .enq .flr {
    float: none;
    width: 100%;
    margin-top: 3%;
  }

  .ans {
    width: 90%;
    margin: 0 auto;
  }

  .ans .comment {
    font-size: 16px;
    font-size: 1rem;
  }

  .table3sp {
    width: 90%;
    margin: 0 auto;
    font-size: 18px;
    font-size: 1.125rem;
    text-align: center;
  }

  .table3sp th {
    background: #dddddd;
    border-top: 2px solid #fff;
    font-weight: normal;
    width: 50%;
    padding: 3% 0;
  }

  .table3sp tr:first-child th {
    border-top: none;
  }

  .table3sp td {
    background: #f1f1f1;
    border-top: 2px solid #c5c5c5;
    width: 50%;
  }

  .table3sp tr:first-child td {
    border-top: none;
  }

	.table4 {
		width:90%;
		margin-left:auto;
		margin-right:auto;
	}

  .seminar {
    width: 90%;
    margin: 0 auto;
  }

  .seminar h4 {
    line-height: 1.5em;
  }

  .seminar p {
    font-size: 16px;
    font-size: 1rem;
    line-height: 1.6em;
  }

  .seminar a {
    width: 73%;
    margin: 0 auto;
    margin-top: 4%;
    float: none;
  }

  .pc-hide_table {
    display: table;
  }

  .sp-hide_table {
    display: none;
  }

  /* header */
  #header {
    width: 100%;
    margin: 0 auto;
    padding: 1.5% 4.6875% 4% 4.6875%;
    position: relative;
  }
  #header img {
    vertical-align: bottom;
  }
  #header h1 {
    width: 81%;
  }
  #header #spBtn {
    display: block;
    float: right;
    width: 13.1%;
    margin-top: 2%;
    cursor: pointer;
    background: url("../images/common/menu_open.jpg") no-repeat left top;
    background-size: cover;
  }
  #header #spBtn.open {
    background: url("../images/common/menu_close.jpg") no-repeat left top;
    background-size: cover;
  }
  #header #spMenu {
    display: none;
    background: rgba(13, 40, 111, 0.95);
    position: absolute;
    width: 100%;
    top: 100%;
    left: 0;
    padding-top: 6.25%;
    z-index: 9999;
  }
  #header #spMenu .spSearch {
    position: relative;
  }
  #header #spMenu .spSearch input {
    display: block;
    background: #e6e6e6;
    border: none;
    font-size: 18px;
    font-size: 1.125rem;
    line-height: 1em;
    padding: 2%;
    width: 90%;
    margin: 0 auto;
  }
  #header #spMenu .spSearch .imgSearch {
    width: 4.375%;
    height: 50.9%;
    position: absolute;
    top: 0;
    right: 8%;
    bottom: 0;
    margin: auto;
    vertical-align: bottom;
  }
  #header #spMenu .sideMenu li {
    border-top: 1px solid #fff;
  }
  #header #spMenu .sideMenu li span {
    color: #fff;
		display:block;
    font-size: 18px;
    font-size: 1.125rem;
    padding: 4% 0 4% 7.15%;
	}
  #header #spMenu .sideMenu li a {
    display: block;
    color: #fff;
    font-size: 18px;
    font-size: 1.125rem;
    text-decoration: none;
    padding: 4% 0 4% 7.15%;
  }
  #header #spMenu .sideMenu li a:before {
    content: "■";
    color: #a8a8a8;
    vertical-align: top;
    margin-right: 3%;
  }
  #header #spMenu .sideMenu .linkTop {
    margin-top: 6.25%;
  }
  #header #spMenu .sideMenu .linkTop span {
    padding-left: 0;
  }
  #header #spMenu .sideMenu .linkTop a {
    padding-top: 0;
    padding-bottom: 0;
  }
  #header #spMenu .sideMenu .linkTop a:before {
    display: none;
  }
  #header #spMenu .sideMenu .backTop {
    margin-top: 0;
  }
  #header #spMenu .sideMenu .backTop span {
    padding-left: 0;
  }
  #header #spMenu .sideMenu .backTop a {
    padding-top: 0;
    padding-bottom: 0;
  }
  #header #spMenu .sideMenu .backTop a:before {
    display: none;
  }
  #header #nav {
    display: none;
  }
  #header .spMenu_inner {
    margin-top: 6.25%;
    border-bottom: 1px solid #fff;
  }
  #header .spMenu_inner li {
    border-top: 1px solid #fff;
  }
  #header .spMenu_inner li a {
    color: #fff;
    text-decoration: none;
    display: block;
    letter-spacing: 1px;
    padding: 4% 0 4% 10.15%;
    font-size: 18px;
    font-size: 1.125rem;
    line-height: 1em;
  }
  #header .spMenu_inner li.cf a {
    float: left;
    width: 70%;
  }
  #header .spMenu_inner li .spInnerBtn {
    width: 6.5625%;
    float: left;
    margin: 2.5% 20% 0 0;
  }
  #header .spMenu_inner li#subInnerMenu {
    display: none;
    border-top: none;
  }
  #header .spMenu_inner li#subInnerMenu li a {
    padding-left: 16%;
  }
  #header .spInq {
    width: 68.75%;
    margin: 0 auto;
    padding: 3.9% 0;
  }
  #header .spInq a {
    display: block;
    color: #0d286f;
    text-decoration: none;
    font-size: 18px;
    font-size: 1.125rem;
    background: #e6e6e6;
    float: right;
    padding: 2.34% 0;
    width: 45.4545%;
    text-align: center;
  }
  #header .spInq a:first-child {
    float: left;
  }

  .bg_menu {
    display: none;
  }

  .pankuzu ul {
    width: 100%;
  }

  .content {
    margin-top: 4.6875%;
  }

  /* 重要なお知らせ */
  .column2 {
    width: 100%;
  }

  .column1 .rightCont, .column2 .rightCont {
    width: 100%;
    float: none;
  }
  .column1 .rightCont .notice, .column2 .rightCont .notice {
    width: 90%;
  }
  .column1 .notice, .column2 .notice {
    width: 90%;
    margin: 0 auto;
  }
  .column1 .notice h4, .column2 .notice h4 {
    background: #e71f19;
    color: #fff;
    text-align: center;
    font-size: 20px;
    font-size: 1.25rem;
    font-weight: normal;
    letter-spacing: 2px;
    padding: 1.724% 0;
    margin: 0;
  }
  .column1 .notice h4 img, .column2 .notice h4 img {
    width: 5.34%;
    vertical-align: bottom;
    margin-right: 2%;
  }
  .column1 .notice p, .column2 .notice p {
    font-size: 18px;
    font-size: 1.125rem;
    line-height: 1.6em;
    color: #e71f19;
    background: #fff;
    border: 1px solid #e71f19;
    font-weight: bold;
    padding: 2% 3.448%;
  }

  .pankuzu {
    display: none;
  }

  #footer {
    margin-top: 9.375%;
    background: #ededec;
    text-align: center;
  }
  #footer #pagetop {
    width: 100%;
    background: #555555;
    padding: 3.9% 0;
  }
  #footer #pagetop img {
    width: 15.625%;
  }
  #footer .cf {
    margin: 0;
    width: 100%;
  }
  #footer .fodeta1 {
    width: 75%;
    margin: 0 auto;
    border-bottom: 1px solid #b9b9b9;
    font-size: 14px;
    font-size: 0.875rem;
    line-height: 2em;
    padding-bottom: 5%;
    margin-bottom: 5%;
    float: none;
  }
  #footer .fodeta1 h5 {
    font-size: 16px;
    font-size: 1rem;
    font-weight: normal;
    margin-top: 10%;
    margin-bottom: 2%;
  }
  #footer .fodeta2 {
    width: 75%;
    margin: 0 auto;
    font-size: 14px;
    font-size: 0.875rem;
    line-height: 2em;
    float: none;
  }
  #footer .fodeta2 h5 {
    font-size: 16px;
    font-size: 1rem;
    font-weight: normal;
    margin-bottom: 2%;
  }
  #footer .copy {
    margin-top: 10%;
    font-size: 12px;
    font-size: 0.75rem;
    color: #fff;
    line-height: 1.2em;
    background: #003894;
    padding: 3%;
  }
.oshirase .entry-content ,
.search-results .centerCont {
	width:90%;
	margin:0 auto;
}
.oshirase .centerCont li ,
.search-results .centerCont li {
	padding:1em 0;
}


}
